In [282]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import base64
import sklearn
import skcriteria as skc

In [283]:
#load the csv file and read in
csv_data = pd.read_csv('final_df.csv')

# Read the values of the file in the dataframe
df = pd.DataFrame(csv_data)

In [284]:
df.columns

Index(['country', 'year', 'social_progress_index',
       'deaths_from_interpersonal_violence', 'perceived_criminality',
       'media_censorship', 'access_to_justice', 'freedom_of_expression',
       'freedom_of_religion', 'discrimination_and_violence_against_minorities',
       'acceptance_of_gays_and_lesbians', 'network_coverage',
       'civil_ethnic_war', 'bank_branches', 'confidence_in_police',
       'equal_treatment', 'freedom_of_belief_religion',
       'freedom_opinion_expression', 'generalised_interpersonal_trust',
       'government_media_censorship', 'government_intimidation',
       'helped_stranger', 'intentional_homicides',
       'international_internet_bandwidth', 'lgbt_rights',
       'nondiscriminatory_civil_justice', 'physical_security_women',
       'property_stolen', 'protection_womens_rights', 'reliable_electricity',
       'reliability_water_supply', 'respect', 'safety_walking_alone_night',
       'satisfaction_with_freedom', 'satisfaction_with_public_transportation',
       'terrorism_incidents', 'twosided_conflict_deaths', 'digital_payments',
       'womens_agency', '_merge', 'area_group'],
      dtype='object')

In [285]:
df.fillna("")

,country,year,social_progress_index,deaths_from_interpersonal_violence,perceived_criminality,media_censorship,access_to_justice,freedom_of_expression,freedom_of_religion,discrimination_and_violence_against_minorities,...,respect,safety_walking_alone_night,satisfaction_with_freedom,satisfaction_with_public_transportation,terrorism_incidents,twosided_conflict_deaths,digital_payments,womens_agency,_merge,area_group
0,Albania,2021,0.7451,1.9836,0.8,0.337,0.906,0.687,0.927,0.41,...,0.72,0.6,0.674778,0.481697,0.900225,1.0,0.288224,0.4375,both,Eastern Europe
1,Albania,2020,0.738,2.042,0.8,0.45275,0.906,0.707,0.927,0.44,...,0.84,0.5375,0.713099,0.540268,0.852441,1.0,0.200112,0.4375,both,Eastern Europe
2,Albania,2019,0.7418,2.0796,0.8,0.45275,0.852,0.723,0.966,0.43,...,0.84,0.575,0.772754,0.62789,0.838197,1.0,0.200112,0.4375,both,Eastern Europe
3,Albania,2018,0.7393,2.1282,0.8,0.59175,0.852,0.818,0.93475,0.42,...,0.78,0.5,0.675039,0.55179,0.824318,1.0,0.200112,0.4375,both,Eastern Europe
4,Albania,2017,0.739,2.168,0.8,0.59175,0.904,0.784,0.97475,0.45,...,0.78,0.525,0.645759,0.485045,0.838303,1.0,0.200112,0.4375,both,Eastern Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261,Venezuela,2019,,,,,,,,,...,0.88,0.075,0.504051,0.0,0.918086,1.0,0.490736,0.625,right_only,Latin America and the Caribbean
2262,Afghanistan,2020,,,,,,,,,...,0.0,0.0,0.228642,0.34271,0.0,0.0,0.055705,0.0625,right_only,Asia-Pacific
2263,Venezuela,2020,,,,,,,,,...,0.92,0.1125,0.526525,0.167664,0.90866,1.0,0.490736,0.625,right_only,Latin America and the Caribbean
2264,Afghanistan,2021,,,,,,,,,...,0.0,0.0,0.228642,0.34271,0.0,0.0,0.108268,0.0625,right_only,Asia-Pacific
2265,Venezuela,2021,,,,,,,,,...,0.86,0.1375,0.50237,0.045577,0.895278,1.0,0.687668,0.625,right_only,Latin America and the Caribbean

In [286]:
#transform data for analysis to avoid errors from using minimizing objects--scikit criteria prefers maximize objects

#first invert minimizing objectives by dividing out inverse of each criterion value -- [1/Cj]
#second divide each criterion value by total sum of criteria, normalizing into range [0,1]

#import necessary modules
from skcriteria.preprocessing import invert_objectives, scalers

In [287]:
#algorithms for MCDA methods

#import required module
from skcriteria.madm import simple

In [288]:
#filter dataframes by year

#safety features
safety = df[['country', 'area_group', 'year', 'intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
             'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
#dropna due to error in sum scaler to normalize values after inverting minimizer
safety = safety.dropna()
safety_2021 = safety[safety['year']==2021]
safety_2020 = safety[safety['year']==2020]
safety_2019 = safety[safety['year']==2019]
safety_2018 = safety[safety['year']==2018]
safety_2017 = safety[safety['year']==2017]
safety_2016 = safety[safety['year']==2016]
safety_2015 = safety[safety['year']==2015]
safety_2014 = safety[safety['year']==2014]
safety_2013 = safety[safety['year']==2013]
safety_2012 = safety[safety['year']==2012]
safety_2011 = safety[safety['year']==2011]

#women features
women = df[['country','area_group', 'year','physical_security_women', 'protection_womens_rights', 'womens_agency']]
#dropna due to error in sum scaler to normalize values after inverting minimizer
women = women.dropna()
women_2021 = women[women['year']==2021]
women_2020 = women[women['year']==2020]
women_2019 = women[women['year']==2019]
women_2018 = women[women['year']==2018]
women_2017 = women[women['year']==2017]
women_2016 = women[women['year']==2016]
women_2015 = women[women['year']==2015]
women_2014 = women[women['year']==2014]
women_2013 = women[women['year']==2013]
women_2012 = women[women['year']==2012]
women_2011 = women[women['year']==2011]

#race features
race = df[['country','area_group', 'year','discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
#dropna due to error in sum scaler to normalize values after inverting minimizer
race = race.dropna()
race_2021 = race[race['year']==2021]
race_2020 = race[race['year']==2020]
race_2019 = race[race['year']==2019]
race_2018 = race[race['year']==2018]
race_2017 = race[race['year']==2017]
race_2016 = race[race['year']==2016]
race_2015 = race[race['year']==2015]
race_2014 = race[race['year']==2014]
race_2013 = race[race['year']==2013]
race_2012 = race[race['year']==2012]
race_2011 = race[race['year']==2011]

#social features
social = df[['country', 'area_group','year','media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression', 'government_media_censorship','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
#dropna due to error in sum scaler to normalize values after inverting minimizer
social= social.dropna()
social_2021 = social[social['year']==2021]
social_2020 = social[social['year']==2020]
social_2019 = social[social['year']==2019]
social_2018 = social[social['year']==2018]
social_2017 = social[social['year']==2017]
social_2016 = social[social['year']==2016]
social_2015 = social[social['year']==2015]
social_2014 = social[social['year']==2014]
social_2013 = social[social['year']==2013]
social_2012 = social[social['year']==2012]
social_2011 = social[social['year']==2011]

#access features
access = df[['country', 'area_group','year','network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
#dropna due to error in sum scaler to normalize values after inverting minimizer
access = access.dropna()
access_2021 = access[access['year']==2021]
access_2020 = access[access['year']==2020]
access_2019 = access[access['year']==2019]
access_2018 = access[access['year']==2018]
access_2017 = access[access['year']==2017]
access_2016 = access[access['year']==2016]
access_2015 = access[access['year']==2015]
access_2014 = access[access['year']==2014]
access_2013 = access[access['year']==2013]
access_2012 = access[access['year']==2012]
access_2011 = access[access['year']==2011]

#lgbtplus features
lgbtplus = df[['country', 'area_group','year','acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
#dropna due to error in sum scaler to normalize values after inverting minimizer
lgbtplus = lgbtplus.dropna()
lgbtplus_2021 = lgbtplus[lgbtplus['year']==2021]
lgbtplus_2020 = lgbtplus[lgbtplus['year']==2020]
lgbtplus_2019 = lgbtplus[lgbtplus['year']==2019]
lgbtplus_2018 = lgbtplus[lgbtplus['year']==2018]
lgbtplus_2017 = lgbtplus[lgbtplus['year']==2017]
lgbtplus_2016 = lgbtplus[lgbtplus['year']==2016]
lgbtplus_2015 = lgbtplus[lgbtplus['year']==2015]
lgbtplus_2014 = lgbtplus[lgbtplus['year']==2014]
lgbtplus_2013 = lgbtplus[lgbtplus['year']==2013]
lgbtplus_2012 = lgbtplus[lgbtplus['year']==2012]
lgbtplus_2011 = lgbtplus[lgbtplus['year']==2011]

In [289]:
#select subset of features for each year--create new dataframe, then convert to array for matrix
#create access matricies vectors for safety variables by converting to 2D array-like
safety21_col_matrix = safety_2021[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence','perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety21_matrix = safety21_col_matrix.values
safety20_col_matrix = safety_2020[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety20_matrix = safety20_col_matrix.values
safety19_col_matrix = safety_2019[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety19_matrix = safety19_col_matrix.values
safety18_col_matrix = safety_2018[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety18_matrix = safety18_col_matrix.values
safety17_col_matrix = safety_2017[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety17_matrix = safety17_col_matrix.values
safety16_col_matrix = safety_2016[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety16_matrix = safety16_col_matrix.values
safety15_col_matrix = safety_2015[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety15_matrix = safety15_col_matrix.values
safety14_col_matrix = safety_2014[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety14_matrix = safety14_col_matrix.values
safety13_col_matrix = safety_2013[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety13_matrix = safety13_col_matrix.values
safety12_col_matrix = safety_2012[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety12_matrix = safety12_col_matrix.values
safety11_col_matrix = safety_2011[['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 
             'terrorism_incidents','twosided_conflict_deaths', 'deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust']]
safety11_matrix = safety11_col_matrix.values

In [290]:
#select subset of features for each year--create new dataframe, then convert to array for matrix
#create access matricies vectors for women variables by converting to 2D array-like
women21_col_matrix = women_2021[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women21_matrix = women21_col_matrix.values
women20_col_matrix = women_2020[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women20_matrix = women20_col_matrix.values
women19_col_matrix = women_2019[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women19_matrix = women19_col_matrix.values
women18_col_matrix = women_2018[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women18_matrix = women18_col_matrix.values
women17_col_matrix = women_2017[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women17_matrix = women17_col_matrix.values
women16_col_matrix = women_2016[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women16_matrix = women16_col_matrix.values
women15_col_matrix = women_2015[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women15_matrix = women15_col_matrix.values
women14_col_matrix = women_2014[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women14_matrix = women14_col_matrix.values
women13_col_matrix = women_2013[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women13_matrix = women13_col_matrix.values
women12_col_matrix = women_2012[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women12_matrix = women12_col_matrix.values
women11_col_matrix = women_2011[['physical_security_women', 'protection_womens_rights', 'womens_agency']]
women11_matrix = women11_col_matrix.values

In [291]:
#select subset of features for each year--create new dataframe, then convert to array for matrix
#create access matricies vectors for race variables by converting to 2D array-like
race21_col_matrix = race_2021[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race21_matrix = race21_col_matrix.values
race20_col_matrix = race_2020[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race20_matrix = race20_col_matrix.values
race19_col_matrix = race_2019[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race19_matrix = race19_col_matrix.values
race18_col_matrix = race_2018[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race18_matrix = race18_col_matrix.values
race17_col_matrix = race_2017[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race17_matrix = race17_col_matrix.values
race16_col_matrix = race_2016[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race16_matrix = race16_col_matrix.values
race15_col_matrix = race_2015[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race15_matrix = race15_col_matrix.values
race14_col_matrix = race_2014[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race14_matrix = race14_col_matrix.values
race13_col_matrix = race_2013[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race13_matrix = race13_col_matrix.values
race12_col_matrix = race_2012[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race12_matrix = race12_col_matrix.values
race11_col_matrix = race_2011[['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice']]
race11_matrix = race11_col_matrix.values

In [292]:
#select subset of features for each year--create new dataframe, then convert to array for matrix
#create access matricies vectors for social variables by converting to 2D array-like
social21_col_matrix = social_2021[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
social21_matrix = social21_col_matrix.values
social20_col_matrix = social_2020[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
social20_matrix = social20_col_matrix.values
social19_col_matrix = social_2019[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
social19_matrix = social19_col_matrix.values
social18_col_matrix = social_2018[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
social18_matrix = social18_col_matrix.values
social17_col_matrix = social_2017[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
social17_matrix = social17_col_matrix.values
social16_col_matrix = social_2016[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
social16_matrix = social16_col_matrix.values
social15_col_matrix = social_2015[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
social15_matrix = social15_col_matrix.values
social14_col_matrix = social_2014[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
social14_matrix = social14_col_matrix.values
social13_col_matrix = social_2013[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
social13_matrix = social13_col_matrix.values
social12_col_matrix = social_2012[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom','confidence_in_police']]
social12_matrix = social12_col_matrix.values
social11_col_matrix = social_2011[['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police']]
social11_matrix = social11_col_matrix.values

In [293]:
#select subset of features for each year--create new dataframe, then convert to array for matrix
#create access matricies vectors for access variables by converting to 2D array-like
access21_col_matrix = access_2021[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access21_matrix = access21_col_matrix.values
access20_col_matrix = access_2020[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access20_matrix = access20_col_matrix.values
access19_col_matrix = access_2019[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access19_matrix = access19_col_matrix.values
access18_col_matrix = access_2018[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access18_matrix = access18_col_matrix.values
access17_col_matrix = access_2017[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access17_matrix = access17_col_matrix.values
access16_col_matrix = access_2016[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access16_matrix = access16_col_matrix.values
access15_col_matrix = access_2015[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access15_matrix = access15_col_matrix.values
access14_col_matrix = access_2014[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access14_matrix = access14_col_matrix.values
access13_col_matrix = access_2013[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access13_matrix = access13_col_matrix.values
access12_col_matrix = access_2012[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access12_matrix = access12_col_matrix.values
access11_col_matrix = access_2011[['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments']]
access11_matrix = access11_col_matrix.values

In [294]:
#select subset of features for each year--create new dataframe, then convert to array for matrix
#create access matricies vectors for lgbtplus variables by converting to 2D array-like
lgbtplus21_col_matrix = lgbtplus_2021[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus21_matrix = lgbtplus21_col_matrix.values
lgbtplus20_col_matrix = lgbtplus_2020[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus20_matrix = lgbtplus20_col_matrix.values
lgbtplus19_col_matrix = lgbtplus_2019[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus19_matrix = lgbtplus19_col_matrix.values
lgbtplus18_col_matrix = lgbtplus_2018[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus18_matrix = lgbtplus18_col_matrix.values
lgbtplus17_col_matrix = lgbtplus_2017[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus17_matrix = lgbtplus17_col_matrix.values
lgbtplus16_col_matrix = lgbtplus_2016[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus16_matrix = lgbtplus16_col_matrix.values
lgbtplus15_col_matrix = lgbtplus_2015[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus15_matrix = lgbtplus15_col_matrix.values
lgbtplus14_col_matrix = lgbtplus_2014[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus14_matrix = lgbtplus14_col_matrix.values
lgbtplus13_col_matrix = lgbtplus_2013[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus13_matrix = lgbtplus13_col_matrix.values
lgbtplus12_col_matrix = lgbtplus_2012[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus12_matrix = lgbtplus12_col_matrix.values
lgbtplus11_col_matrix = lgbtplus_2011[['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice']]
lgbtplus11_matrix = lgbtplus11_col_matrix.values

In [295]:
#define alternatives for each safety index type
#dropna due to error in sum scaler to normalize values after inverting minimizer
alt_safety = safety.country.drop_duplicates()
alt_women = women.country.drop_duplicates()
alt_race = race.country.drop_duplicates()
alt_social = social.country.drop_duplicates()
alt_access = access.country.drop_duplicates()
alt_lgbtplus21 = lgbtplus_2021.country.drop_duplicates()
alt_lgbtplus17 = lgbtplus_2017.country.drop_duplicates()
alt_lgbtplus15 = lgbtplus_2015.country.drop_duplicates()
alt_lgbtplus14 = lgbtplus_2014.country.drop_duplicates()
alt_lgbtplus13 = lgbtplus_2013.country.drop_duplicates()
alt_lgbtplus12 = lgbtplus_2012.country.drop_duplicates()
alt_lgbtplus11 = lgbtplus_2011.country.drop_duplicates()

In [296]:
#create vector of criteria for each safety index type
# for maximization and minimization of the components of objective vector to scale between 0 and 1. This normalizes the values
#benefit- value/max value --maximize the benefit
#non-beneficial - minvalue/value --minimize the non-benefit
objectives_safety = [min, min, max, min, min, min, min, min, max]
objectives_women =[max,max,max]
objectives_race =[min, max,max]
objectives_social =[max,max, max, max, max, max, min, max, max, max]
objectives_access =[max, max, max, max, max, max, max]
objectives_lgbtplus =[max, max, max, max]

In [297]:
#apply built-in decision matrix function to create decision matrix object for safety 2021 index
#167 alternatives x 9 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety21_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15], #apply weights
    alternatives = alt_safety, #safety index alternatives
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
safety21_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
safety21_dmt=scaler.transform(safety21_dmt)


#convert decision matrix to dataframe
safety21_copy = safety_2021.copy()

 
#WSM method
safety21_wsm_dec = simple.WeightedSumModel()
safety21_wsm_rank = safety21_wsm_dec.evaluate(safety21_dmt)
safety21_copy.loc[:, '2021_rank_weightedSum']=safety21_wsm_rank.rank_
safety21_copy.loc[:,'2021_score_weightedSum']= safety21_wsm_rank.e_.score

safety21_df = safety21_copy.reset_index(drop=True)
safety21 = safety21_df[['country','area_group','2021_rank_weightedSum','2021_score_weightedSum']]
safety21

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum
0,Albania,Eastern Europe,117,0.003342
1,Algeria,Middle East and North Africa,87,0.003906
2,Angola,Sub-Saharan Africa,116,0.003358
3,Argentina,Latin America and the Caribbean,131,0.003111
4,Armenia,Eastern Europe,63,0.004442
...,...,...,...,...
150,Vietnam,Asia-Pacific,37,0.005194
151,Yemen,Middle East and North Africa,155,NaN
152,Zambia,Sub-Saharan Africa,144,0.002794
153,Zimbabwe,Sub-Saharan Africa,149,0.002289
154,South Korea,Asia-Pacific,54,0.004711

In [298]:
#apply built-in decision matrix function to create decision matrix object for safety 2020 index
#155 alternatives x 5 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety20_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15],
    alternatives = alt_safety,
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

inverter = invert_objectives.MinimizeToMaximize()
safety20_dmt=inverter.transform(dm)


scaler = scalers.SumScaler(target='both')
safety20_dmt=scaler.transform(safety20_dmt)


#convert decision matrix to dataframe
safety20_copy = safety_2020.copy()

 
#WSM method
safety20_wsm_dec = simple.WeightedSumModel()
safety20_wsm_rank = safety20_wsm_dec.evaluate(safety20_dmt)
safety20_copy.loc[:, '2020_rank_weightedSum']=safety20_wsm_rank.rank_
safety20_copy.loc[:,'2020_score_weightedSum']= safety20_wsm_rank.e_.score

safety20_df = safety20_copy.reset_index(drop=True)
safety20 = safety20_df[['country','area_group','2020_rank_weightedSum','2020_score_weightedSum']]
safety20

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2020_rank_weightedSum,2020_score_weightedSum
0,Albania,Eastern Europe,108,0.002768
1,Algeria,Middle East and North Africa,83,0.003325
2,Angola,Sub-Saharan Africa,105,0.002803
3,Argentina,Latin America and the Caribbean,125,0.002416
4,Armenia,Eastern Europe,53,0.004063
...,...,...,...,...
150,Vietnam,Asia-Pacific,25,0.005368
151,Yemen,Middle East and North Africa,155,NaN
152,Zambia,Sub-Saharan Africa,136,0.002160
153,Zimbabwe,Sub-Saharan Africa,140,0.002016
154,South Korea,Asia-Pacific,50,0.004170

In [299]:
#apply built-in decision matrix function to create decision matrix object for safety 2019 index
#167 alternatives x 5 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety19_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15],
    alternatives = alt_safety,
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

inverter = invert_objectives.MinimizeToMaximize()
safety19_dmt=inverter.transform(dm)


scaler = scalers.SumScaler(target='both')
safety19_dmt=scaler.transform(safety19_dmt)


#convert decision matrix to dataframe
safety19_copy = safety_2019.copy()

 
#WSM method
safety19_wsm_dec = simple.WeightedSumModel()
safety19_wsm_rank = safety19_wsm_dec.evaluate(safety19_dmt)
safety19_copy.loc[:, '2019_rank_weightedSum']=safety19_wsm_rank.rank_
safety19_copy.loc[:,'2019_score_weightedSum']= safety19_wsm_rank.e_.score

safety19_df = safety19_copy.reset_index(drop=True)
safety19 = safety19_df[['country','area_group','2019_rank_weightedSum','2019_score_weightedSum']]
safety19

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2019_rank_weightedSum,2019_score_weightedSum
0,Albania,Eastern Europe,102,0.002839
1,Algeria,Middle East and North Africa,71,0.003687
2,Angola,Sub-Saharan Africa,104,0.002781
3,Argentina,Latin America and the Caribbean,131,0.002245
4,Armenia,Eastern Europe,46,0.004268
...,...,...,...,...
150,Vietnam,Asia-Pacific,28,0.005204
151,Yemen,Middle East and North Africa,155,NaN
152,Zambia,Sub-Saharan Africa,140,0.002051
153,Zimbabwe,Sub-Saharan Africa,135,0.002124
154,South Korea,Asia-Pacific,55,0.004085

In [300]:
#apply built-in decision matrix function to create decision matrix object for safety 2018 index
#167 alternatives x 5 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety18_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15],
    alternatives = alt_safety,
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

inverter = invert_objectives.MinimizeToMaximize()
safety18_dmt=inverter.transform(dm)


scaler = scalers.SumScaler(target='both')
safety18_dmt=scaler.transform(safety18_dmt)


#convert decision matrix to dataframe
safety18_copy = safety_2018.copy()

 
#WSM method
safety18_wsm_dec = simple.WeightedSumModel()
safety18_wsm_rank = safety18_wsm_dec.evaluate(safety18_dmt)
safety18_copy.loc[:, '2018_rank_weightedSum']=safety18_wsm_rank.rank_
safety18_copy.loc[:,'2018_score_weightedSum']= safety18_wsm_rank.e_.score

safety18_df = safety18_copy.reset_index(drop=True)
safety18 = safety18_df[['country','area_group','2018_rank_weightedSum','2018_score_weightedSum']]
safety18

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2018_rank_weightedSum,2018_score_weightedSum
0,Albania,Eastern Europe,96,0.002969
1,Algeria,Middle East and North Africa,65,0.003758
2,Angola,Sub-Saharan Africa,108,0.002781
3,Argentina,Latin America and the Caribbean,129,0.002331
4,Armenia,Eastern Europe,83,0.003308
...,...,...,...,...
150,Vietnam,Asia-Pacific,28,0.005149
151,Yemen,Middle East and North Africa,155,NaN
152,Zambia,Sub-Saharan Africa,133,0.002264
153,Zimbabwe,Sub-Saharan Africa,135,0.002221
154,South Korea,Asia-Pacific,52,0.004072

In [301]:
#apply built-in decision matrix function to create decision matrix object for safety 2017 index
#167 alternatives x 5 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety17_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15],
    alternatives = alt_safety,
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

inverter = invert_objectives.MinimizeToMaximize()
safety17_dmt=inverter.transform(dm)


scaler = scalers.SumScaler(target='both')
safety17_dmt=scaler.transform(safety17_dmt)


#convert decision matrix to dataframe
safety17_copy = safety_2017.copy()

 
#WSM method
safety17_wsm_dec = simple.WeightedSumModel()
safety17_wsm_rank = safety17_wsm_dec.evaluate(safety17_dmt)
safety17_copy.loc[:, '2017_rank_weightedSum']=safety17_wsm_rank.rank_
safety17_copy.loc[:,'2017_score_weightedSum']= safety17_wsm_rank.e_.score

safety17_df = safety17_copy.reset_index(drop=True)
safety17 = safety17_df[['country','area_group','2017_rank_weightedSum','2017_score_weightedSum']]
safety17

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2017_rank_weightedSum,2017_score_weightedSum
0,Albania,Eastern Europe,111,0.003658
1,Algeria,Middle East and North Africa,76,0.004188
2,Angola,Sub-Saharan Africa,117,0.003462
3,Argentina,Latin America and the Caribbean,124,0.003327
4,Armenia,Eastern Europe,85,0.004049
...,...,...,...,...
150,Vietnam,Asia-Pacific,32,0.005857
151,Yemen,Middle East and North Africa,155,NaN
152,Zambia,Sub-Saharan Africa,106,0.003721
153,Zimbabwe,Sub-Saharan Africa,130,0.003258
154,South Korea,Asia-Pacific,68,0.004408

In [302]:
#apply built-in decision matrix function to create decision matrix object for safety 2016 index
#167 alternatives x 5 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety16_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15],
    alternatives = alt_safety,
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

inverter = invert_objectives.MinimizeToMaximize()
safety16_dmt=inverter.transform(dm)


scaler = scalers.SumScaler(target='both')
safety16_dmt=scaler.transform(safety16_dmt)


#convert decision matrix to dataframe
safety16_copy = safety_2016.copy()

 
#WSM method
safety16_wsm_dec = simple.WeightedSumModel()
safety16_wsm_rank = safety16_wsm_dec.evaluate(safety16_dmt)
safety16_copy.loc[:, '2016_rank_weightedSum']=safety16_wsm_rank.rank_
safety16_copy.loc[:,'2016_score_weightedSum']= safety16_wsm_rank.e_.score

safety16_df = safety16_copy.reset_index(drop=True)
safety16 = safety16_df[['country','area_group','2016_rank_weightedSum','2016_score_weightedSum']]
safety16

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2016_rank_weightedSum,2016_score_weightedSum
0,Albania,Eastern Europe,99,0.003659
1,Algeria,Middle East and North Africa,77,0.004034
2,Angola,Sub-Saharan Africa,117,0.003386
3,Argentina,Latin America and the Caribbean,119,0.003281
4,Armenia,Eastern Europe,83,0.003936
...,...,...,...,...
150,Vietnam,Asia-Pacific,32,0.005672
151,Yemen,Middle East and North Africa,155,NaN
152,Zambia,Sub-Saharan Africa,128,0.003165
153,Zimbabwe,Sub-Saharan Africa,135,0.003087
154,South Korea,Asia-Pacific,56,0.004438

In [303]:
#apply built-in decision matrix function to create decision matrix object for safety 2015 index
#167 alternatives x 5 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety15_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15],
    alternatives = alt_safety,
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

inverter = invert_objectives.MinimizeToMaximize()
safety15_dmt=inverter.transform(dm)


scaler = scalers.SumScaler(target='both')
safety15_dmt=scaler.transform(safety15_dmt)


#convert decision matrix to dataframe
safety15_copy = safety_2015.copy()

 
#WSM method
safety15_wsm_dec = simple.WeightedSumModel()
safety15_wsm_rank = safety15_wsm_dec.evaluate(safety15_dmt)
safety15_copy.loc[:, '2015_rank_weightedSum']=safety15_wsm_rank.rank_
safety15_copy.loc[:,'2015_score_weightedSum']= safety15_wsm_rank.e_.score

safety15_df = safety15_copy.reset_index(drop=True)
safety15 = safety15_df[['country','area_group','2015_rank_weightedSum','2015_score_weightedSum']]
safety15

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2015_rank_weightedSum,2015_score_weightedSum
0,Albania,Eastern Europe,99,0.002654
1,Algeria,Middle East and North Africa,73,0.003268
2,Angola,Sub-Saharan Africa,106,0.002527
3,Argentina,Latin America and the Caribbean,116,0.002324
4,Armenia,Eastern Europe,72,0.003268
...,...,...,...,...
150,Vietnam,Asia-Pacific,25,0.005054
151,Yemen,Middle East and North Africa,52,0.003714
152,Zambia,Sub-Saharan Africa,145,0.001651
153,Zimbabwe,Sub-Saharan Africa,124,0.002105
154,South Korea,Asia-Pacific,51,0.003788

In [304]:
#apply built-in decision matrix function to create decision matrix object for safety 2014 index
#167 alternatives x 5 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety14_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15],
    alternatives = alt_safety,
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

inverter = invert_objectives.MinimizeToMaximize()
safety14_dmt=inverter.transform(dm)


scaler = scalers.SumScaler(target='both')
safety14_dmt=scaler.transform(safety14_dmt)


#convert decision matrix to dataframe
safety14_copy = safety_2014.copy()

 
#WSM method
safety14_wsm_dec = simple.WeightedSumModel()
safety14_wsm_rank = safety14_wsm_dec.evaluate(safety14_dmt)
safety14_copy.loc[:, '2014_rank_weightedSum']=safety14_wsm_rank.rank_
safety14_copy.loc[:,'2014_score_weightedSum']= safety14_wsm_rank.e_.score

safety14_df = safety14_copy.reset_index(drop=True)
safety14 = safety14_df[['country','area_group','2014_rank_weightedSum','2014_score_weightedSum']]
safety14

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2014_rank_weightedSum,2014_score_weightedSum
0,Albania,Eastern Europe,110,0.002461
1,Algeria,Middle East and North Africa,62,0.003494
2,Angola,Sub-Saharan Africa,87,0.002934
3,Argentina,Latin America and the Caribbean,115,0.002377
4,Armenia,Eastern Europe,75,0.003182
...,...,...,...,...
150,Vietnam,Asia-Pacific,26,0.005186
151,Yemen,Middle East and North Africa,44,0.003978
152,Zambia,Sub-Saharan Africa,146,0.001572
153,Zimbabwe,Sub-Saharan Africa,134,0.001935
154,South Korea,Asia-Pacific,54,0.003633

In [305]:
#apply built-in decision matrix function to create decision matrix object for safety 2013 index
#167 alternatives x 5 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety13_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15],
    alternatives = alt_safety,
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

inverter = invert_objectives.MinimizeToMaximize()
safety13_dmt=inverter.transform(dm)


scaler = scalers.SumScaler(target='both')
safety13_dmt=scaler.transform(safety13_dmt)


#convert decision matrix to dataframe
safety13_copy = safety_2013.copy()

 
#WSM method
safety13_wsm_dec = simple.WeightedSumModel()
safety13_wsm_rank = safety13_wsm_dec.evaluate(safety13_dmt)
safety13_copy.loc[:, '2013_rank_weightedSum']=safety13_wsm_rank.rank_
safety13_copy.loc[:,'2013_score_weightedSum']= safety13_wsm_rank.e_.score

safety13_df = safety13_copy.reset_index(drop=True)
safety13 = safety13_df[['country','area_group','2013_rank_weightedSum','2013_score_weightedSum']]
safety13

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2013_rank_weightedSum,2013_score_weightedSum
0,Albania,Eastern Europe,94,0.002731
1,Algeria,Middle East and North Africa,64,0.003468
2,Angola,Sub-Saharan Africa,128,0.002171
3,Argentina,Latin America and the Caribbean,103,0.002581
4,Armenia,Eastern Europe,80,0.003134
...,...,...,...,...
150,Vietnam,Asia-Pacific,25,0.005183
151,Yemen,Middle East and North Africa,46,0.003841
152,Zambia,Sub-Saharan Africa,137,0.001957
153,Zimbabwe,Sub-Saharan Africa,136,0.001970
154,South Korea,Asia-Pacific,44,0.003913

In [306]:
#apply built-in decision matrix function to create decision matrix object for safety 2012 index
#167 alternatives x 5 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety12_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15],
    alternatives = alt_safety,
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

inverter = invert_objectives.MinimizeToMaximize()
safety12_dmt=inverter.transform(dm)


scaler = scalers.SumScaler(target='both')
safety12_dmt=scaler.transform(safety12_dmt)


#convert decision matrix to dataframe
safety12_copy = safety_2012.copy()

 
#WSM method
safety12_wsm_dec = simple.WeightedSumModel()
safety12_wsm_rank = safety12_wsm_dec.evaluate(safety12_dmt)
safety12_copy.loc[:, '2012_rank_weightedSum']=safety12_wsm_rank.rank_
safety12_copy.loc[:,'2012_score_weightedSum']= safety12_wsm_rank.e_.score

safety12_df = safety12_copy.reset_index(drop=True)
safety12 = safety12_df[['country','area_group','2012_rank_weightedSum','2012_score_weightedSum']]
safety12

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2012_rank_weightedSum,2012_score_weightedSum
0,Albania,Eastern Europe,89,0.003191
1,Algeria,Middle East and North Africa,91,0.003143
2,Angola,Sub-Saharan Africa,113,0.002674
3,Argentina,Latin America and the Caribbean,97,0.002957
4,Armenia,Eastern Europe,85,0.003234
...,...,...,...,...
150,Vietnam,Asia-Pacific,28,0.005357
151,Yemen,Middle East and North Africa,45,0.004222
152,Zambia,Sub-Saharan Africa,131,0.002403
153,Zimbabwe,Sub-Saharan Africa,148,0.001718
154,South Korea,Asia-Pacific,64,0.003697

In [307]:
#apply built-in decision matrix function to create decision matrix object for safety 2011 index
#167 alternatives x 5 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =safety11_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.15, 0.15, .20, .05, .05, 0.10, 0.10, 0.05, 0.15],
    alternatives = alt_safety,
    criteria=['intentional_homicides', 'property_stolen', 'safety_walking_alone_night', 'terrorism_incidents', 'twosided_conflict_deaths','deaths_from_interpersonal_violence',
                'perceived_criminality', 'civil_ethnic_war', 'generalised_interpersonal_trust'] #feature/column name
)
dm

inverter = invert_objectives.MinimizeToMaximize()
safety11_dmt=inverter.transform(dm)


scaler = scalers.SumScaler(target='both')
safety11_dmt=scaler.transform(safety11_dmt)


#convert decision matrix to dataframe
safety11_copy = safety_2011.copy()

 
#WSM method
safety11_wsm_dec = simple.WeightedSumModel()
safety11_wsm_rank = safety11_wsm_dec.evaluate(safety11_dmt)
safety11_copy.loc[:, '2011_rank_weightedSum']=safety11_wsm_rank.rank_
safety11_copy.loc[:,'2011_score_weightedSum']= safety11_wsm_rank.e_.score

safety11_df = safety11_copy.reset_index(drop=True)
safety11 = safety11_df[['country','area_group','2011_rank_weightedSum','2011_score_weightedSum']]
safety11

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,119,0.003553
1,Algeria,Middle East and North Africa,109,0.003775
2,Angola,Sub-Saharan Africa,100,0.003918
3,Argentina,Latin America and the Caribbean,125,0.003502
4,Armenia,Eastern Europe,33,0.005776
...,...,...,...,...
150,Vietnam,Asia-Pacific,32,0.005866
151,Yemen,Middle East and North Africa,54,0.004822
152,Zambia,Sub-Saharan Africa,137,0.003192
153,Zimbabwe,Sub-Saharan Africa,142,0.003074
154,South Korea,Asia-Pacific,89,0.004050

In [328]:
#need to mere all new dataframes
#use reduce and merge to merge all df at once

#import functools for reduce()
from functools import reduce

#initialize list of dataframes
dfs = [safety21, safety20, safety19, safety18, safety17, safety16, safety15, safety14, safety13, safety12, safety11]

#merge all dataframes
safety_df_final = reduce(lambda left, right: pd.merge(left, right, on=['country', 'area_group']), dfs)
safety_df_final

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum,2020_rank_weightedSum,2020_score_weightedSum,2019_rank_weightedSum,2019_score_weightedSum,2018_rank_weightedSum,2018_score_weightedSum,...,2015_rank_weightedSum,2015_score_weightedSum,2014_rank_weightedSum,2014_score_weightedSum,2013_rank_weightedSum,2013_score_weightedSum,2012_rank_weightedSum,2012_score_weightedSum,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,117,0.003342,108,0.002768,102,0.002839,96,0.002969,...,99,0.002654,110,0.002461,94,0.002731,89,0.003191,119,0.003553
1,Algeria,Middle East and North Africa,87,0.003906,83,0.003325,71,0.003687,65,0.003758,...,73,0.003268,62,0.003494,64,0.003468,91,0.003143,109,0.003775
2,Angola,Sub-Saharan Africa,116,0.003358,105,0.002803,104,0.002781,108,0.002781,...,106,0.002527,87,0.002934,128,0.002171,113,0.002674,100,0.003918
3,Argentina,Latin America and the Caribbean,131,0.003111,125,0.002416,131,0.002245,129,0.002331,...,116,0.002324,115,0.002377,103,0.002581,97,0.002957,125,0.003502
4,Armenia,Eastern Europe,63,0.004442,53,0.004063,46,0.004268,83,0.003308,...,72,0.003268,75,0.003182,80,0.003134,85,0.003234,33,0.005776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Vietnam,Asia-Pacific,37,0.005194,25,0.005368,28,0.005204,28,0.005149,...,25,0.005054,26,0.005186,25,0.005183,28,0.005357,32,0.005866
151,Yemen,Middle East and North Africa,155,NaN,155,NaN,155,NaN,155,NaN,...,52,0.003714,44,0.003978,46,0.003841,45,0.004222,54,0.004822
152,Zambia,Sub-Saharan Africa,144,0.002794,136,0.002160,140,0.002051,133,0.002264,...,145,0.001651,146,0.001572,137,0.001957,131,0.002403,137,0.003192
153,Zimbabwe,Sub-Saharan Africa,149,0.002289,140,0.002016,135,0.002124,135,0.002221,...,124,0.002105,134,0.001935,136,0.001970,148,0.001718,142,0.003074
154,South Korea,Asia-Pacific,54,0.004711,50,0.004170,55,0.004085,52,0.004072,...,51,0.003788,54,0.003633,44,0.003913,64,0.003697,89,0.004050

In [309]:
#apply built-in decision matrix function to create decision matrix object for women 2021 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women21_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women21_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women21_dmt=scaler.transform(women21_dmt)


#convert decision matrix to dataframe
women21_copy = women_2021.copy()

 
#WSM method
women21_wsm_dec = simple.WeightedSumModel()
women21_wsm_rank = women21_wsm_dec.evaluate(women21_dmt)
women21_copy.loc[:, '2021_rank_weightedSum']=women21_wsm_rank.rank_
women21_copy.loc[:,'2021_score_weightedSum']= women21_wsm_rank.e_.score

women21_df = women21_copy.reset_index(drop=True)
women21 = women21_df[['country','area_group','2021_rank_weightedSum','2021_score_weightedSum']]
women21

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum
0,Albania,Eastern Europe,72,0.006346
1,Algeria,Middle East and North Africa,105,0.004396
2,Angola,Sub-Saharan Africa,92,0.005131
3,Argentina,Latin America and the Caribbean,43,0.009179
4,Armenia,Eastern Europe,59,0.006826
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,81,0.005931
162,Belize,Latin America and the Caribbean,65,0.006764
163,Hong Kong,Asia-Pacific,28,0.010314
164,Afghanistan,Asia-Pacific,153,0.001501
165,Venezuela,Latin America and the Caribbean,66,0.006764

In [310]:
#apply built-in decision matrix function to create decision matrix object for women 2020 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women20_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women20_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women20_dmt=scaler.transform(women20_dmt)


#convert decision matrix to dataframe
women20_copy = women_2020.copy()

 
#WSM method
women20_wsm_dec = simple.WeightedSumModel()
women20_wsm_rank = women20_wsm_dec.evaluate(women20_dmt)
women20_copy.loc[:, '2020_rank_weightedSum']=women20_wsm_rank.rank_
women20_copy.loc[:,'2020_score_weightedSum']= women20_wsm_rank.e_.score

women20_df = women20_copy.reset_index(drop=True)
women20 = women20_df[['country','area_group','2020_rank_weightedSum','2020_score_weightedSum']]
women20

,country,area_group,2020_rank_weightedSum,2020_score_weightedSum
0,Albania,Eastern Europe,71,0.006382
1,Algeria,Middle East and North Africa,101,0.004414
2,Angola,Sub-Saharan Africa,94,0.004897
3,Argentina,Latin America and the Caribbean,43,0.009208
4,Armenia,Eastern Europe,58,0.006865
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,82,0.005957
162,Belize,Latin America and the Caribbean,67,0.006538
163,Hong Kong,Asia-Pacific,25,0.010352
164,Afghanistan,Asia-Pacific,154,0.001519
165,Venezuela,Latin America and the Caribbean,68,0.006538

In [311]:
#apply built-in decision matrix function to create decision matrix object for women 2019 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women19_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women19_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women19_dmt=scaler.transform(women19_dmt)


#convert decision matrix to dataframe
women19_copy = women_2019.copy()

 
#WSM method
women19_wsm_dec = simple.WeightedSumModel()
women19_wsm_rank = women19_wsm_dec.evaluate(women19_dmt)
women19_copy.loc[:, '2019_rank_weightedSum']=women19_wsm_rank.rank_
women19_copy.loc[:,'2019_score_weightedSum']= women19_wsm_rank.e_.score

women19_df = women19_copy.reset_index(drop=True)
women19 = women19_df[['country','area_group','2019_rank_weightedSum','2019_score_weightedSum']]
women19

,country,area_group,2019_rank_weightedSum,2019_score_weightedSum
0,Albania,Eastern Europe,71,0.006382
1,Algeria,Middle East and North Africa,101,0.004414
2,Angola,Sub-Saharan Africa,94,0.004897
3,Argentina,Latin America and the Caribbean,43,0.009208
4,Armenia,Eastern Europe,58,0.006865
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,82,0.005957
162,Belize,Latin America and the Caribbean,67,0.006538
163,Hong Kong,Asia-Pacific,25,0.010352
164,Afghanistan,Asia-Pacific,154,0.001519
165,Venezuela,Latin America and the Caribbean,68,0.006538

In [312]:
#apply built-in decision matrix function to create decision matrix object for women 2018 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women18_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women18_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women18_dmt=scaler.transform(women18_dmt)


#convert decision matrix to dataframe
women18_copy = women_2018.copy()

 
#WSM method
women18_wsm_dec = simple.WeightedSumModel()
women18_wsm_rank = women18_wsm_dec.evaluate(women18_dmt)
women18_copy.loc[:, '2018_rank_weightedSum']=women18_wsm_rank.rank_
women18_copy.loc[:,'2018_score_weightedSum']= women18_wsm_rank.e_.score

women18_df = women18_copy.reset_index(drop=True)
women18 = women18_df[['country','area_group','2018_rank_weightedSum','2018_score_weightedSum']]
women18

,country,area_group,2018_rank_weightedSum,2018_score_weightedSum
0,Albania,Eastern Europe,66,0.006800
1,Algeria,Middle East and North Africa,133,0.002193
2,Angola,Sub-Saharan Africa,89,0.005316
3,Argentina,Latin America and the Caribbean,52,0.007406
4,Armenia,Eastern Europe,101,0.004644
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,75,0.006386
162,Belize,Latin America and the Caribbean,64,0.006957
163,Hong Kong,Asia-Pacific,21,0.011222
164,Afghanistan,Asia-Pacific,154,0.001519
165,Venezuela,Latin America and the Caribbean,109,0.004317

In [313]:
#apply built-in decision matrix function to create decision matrix object for women 2017 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women17_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women17_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women17_dmt=scaler.transform(women17_dmt)


#convert decision matrix to dataframe
women17_copy = women_2017.copy()

 
#WSM method
women17_wsm_dec = simple.WeightedSumModel()
women17_wsm_rank = women17_wsm_dec.evaluate(women17_dmt)
women17_copy.loc[:, '2017_rank_weightedSum']=women17_wsm_rank.rank_
women17_copy.loc[:,'2017_score_weightedSum']= women17_wsm_rank.e_.score

women17_df = women17_copy.reset_index(drop=True)
women17 = women17_df[['country','area_group','2017_rank_weightedSum','2017_score_weightedSum']]
women17

,country,area_group,2017_rank_weightedSum,2017_score_weightedSum
0,Albania,Eastern Europe,66,0.006800
1,Algeria,Middle East and North Africa,133,0.002193
2,Angola,Sub-Saharan Africa,89,0.005316
3,Argentina,Latin America and the Caribbean,52,0.007406
4,Armenia,Eastern Europe,101,0.004644
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,75,0.006386
162,Belize,Latin America and the Caribbean,64,0.006957
163,Hong Kong,Asia-Pacific,21,0.011222
164,Afghanistan,Asia-Pacific,154,0.001519
165,Venezuela,Latin America and the Caribbean,109,0.004317

In [314]:
#apply built-in decision matrix function to create decision matrix object for women 2016 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women16_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women16_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women16_dmt=scaler.transform(women16_dmt)


#convert decision matrix to dataframe
women16_copy = women_2016.copy()

 
#WSM method
women16_wsm_dec = simple.WeightedSumModel()
women16_wsm_rank = women16_wsm_dec.evaluate(women16_dmt)
women16_copy.loc[:, '2016_rank_weightedSum']=women16_wsm_rank.rank_
women16_copy.loc[:,'2016_score_weightedSum']= women16_wsm_rank.e_.score

women16_df = women16_copy.reset_index(drop=True)
women16 = women16_df[['country','area_group','2016_rank_weightedSum','2016_score_weightedSum']]
women16

,country,area_group,2016_rank_weightedSum,2016_score_weightedSum
0,Albania,Eastern Europe,74,0.006344
1,Algeria,Middle East and North Africa,131,0.002231
2,Angola,Sub-Saharan Africa,88,0.005095
3,Argentina,Latin America and the Caribbean,51,0.007467
4,Armenia,Eastern Europe,100,0.004729
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,73,0.006444
162,Belize,Latin America and the Caribbean,62,0.007018
163,Hong Kong,Asia-Pacific,21,0.011304
164,Afghanistan,Asia-Pacific,144,0.001824
165,Venezuela,Latin America and the Caribbean,109,0.004378

In [315]:
#apply built-in decision matrix function to create decision matrix object for women 2015 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women15_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women15_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women15_dmt=scaler.transform(women15_dmt)


#convert decision matrix to dataframe
women15_copy = women_2015.copy()

 
#WSM method
women15_wsm_dec = simple.WeightedSumModel()
women15_wsm_rank = women15_wsm_dec.evaluate(women15_dmt)
women15_copy.loc[:, '2015_rank_weightedSum']=women15_wsm_rank.rank_
women15_copy.loc[:,'2015_score_weightedSum']= women15_wsm_rank.e_.score

women15_df = women15_copy.reset_index(drop=True)
women15 = women15_df[['country','area_group','2015_rank_weightedSum','2015_score_weightedSum']]
women15

,country,area_group,2015_rank_weightedSum,2015_score_weightedSum
0,Albania,Eastern Europe,74,0.006344
1,Algeria,Middle East and North Africa,131,0.002231
2,Angola,Sub-Saharan Africa,88,0.005095
3,Argentina,Latin America and the Caribbean,51,0.007467
4,Armenia,Eastern Europe,100,0.004729
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,73,0.006444
162,Belize,Latin America and the Caribbean,62,0.007018
163,Hong Kong,Asia-Pacific,21,0.011304
164,Afghanistan,Asia-Pacific,144,0.001824
165,Venezuela,Latin America and the Caribbean,109,0.004378

In [316]:
#apply built-in decision matrix function to create decision matrix object for women 2014 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women14_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women14_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women14_dmt=scaler.transform(women14_dmt)


#convert decision matrix to dataframe
women14_copy = women_2014.copy()

 
#WSM method
women14_wsm_dec = simple.WeightedSumModel()
women14_wsm_rank = women14_wsm_dec.evaluate(women14_dmt)
women14_copy.loc[:, '2014_rank_weightedSum']=women14_wsm_rank.rank_
women14_copy.loc[:,'2014_score_weightedSum']= women14_wsm_rank.e_.score

women14_df = women14_copy.reset_index(drop=True)
women14 = women14_df[['country','area_group','2014_rank_weightedSum','2014_score_weightedSum']]
women14

,country,area_group,2014_rank_weightedSum,2014_score_weightedSum
0,Albania,Eastern Europe,71,0.006506
1,Algeria,Middle East and North Africa,134,0.002173
2,Angola,Sub-Saharan Africa,93,0.005037
3,Argentina,Latin America and the Caribbean,50,0.007629
4,Armenia,Eastern Europe,98,0.004856
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,74,0.006357
162,Belize,Latin America and the Caribbean,58,0.007180
163,Hong Kong,Asia-Pacific,22,0.011180
164,Afghanistan,Asia-Pacific,147,0.001754
165,Venezuela,Latin America and the Caribbean,106,0.004540

In [317]:
#apply built-in decision matrix function to create decision matrix object for women 2013 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women13_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women13_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women13_dmt=scaler.transform(women13_dmt)


#convert decision matrix to dataframe
women13_copy = women_2013.copy()

 
#WSM method
women13_wsm_dec = simple.WeightedSumModel()
women13_wsm_rank = women13_wsm_dec.evaluate(women13_dmt)
women13_copy.loc[:, '2013_rank_weightedSum']=women13_wsm_rank.rank_
women13_copy.loc[:,'2013_score_weightedSum']= women13_wsm_rank.e_.score

women13_df = women13_copy.reset_index(drop=True)
women13 = women13_df[['country','area_group','2013_rank_weightedSum','2013_score_weightedSum']]
women13

,country,area_group,2013_rank_weightedSum,2013_score_weightedSum
0,Albania,Eastern Europe,83,0.006073
1,Algeria,Middle East and North Africa,139,0.002173
2,Angola,Sub-Saharan Africa,106,0.004604
3,Argentina,Latin America and the Caribbean,30,0.009403
4,Armenia,Eastern Europe,59,0.007062
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,88,0.005913
162,Belize,Latin America and the Caribbean,69,0.006747
163,Hong Kong,Asia-Pacific,25,0.010281
164,Afghanistan,Asia-Pacific,152,0.001754
165,Venezuela,Latin America and the Caribbean,70,0.006747

In [318]:
#apply built-in decision matrix function to create decision matrix object for women 2012 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women12_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women12_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women12_dmt=scaler.transform(women12_dmt)


#convert decision matrix to dataframe
women12_copy = women_2012.copy()

 
#WSM method
women12_wsm_dec = simple.WeightedSumModel()
women12_wsm_rank = women12_wsm_dec.evaluate(women12_dmt)
women12_copy.loc[:, '2012_rank_weightedSum']=women12_wsm_rank.rank_
women12_copy.loc[:,'2012_score_weightedSum']= women12_wsm_rank.e_.score

women12_df = women12_copy.reset_index(drop=True)
women12 = women12_df[['country','area_group','2012_rank_weightedSum','2012_score_weightedSum']]
women12

,country,area_group,2012_rank_weightedSum,2012_score_weightedSum
0,Albania,Eastern Europe,83,0.006073
1,Algeria,Middle East and North Africa,139,0.002173
2,Angola,Sub-Saharan Africa,106,0.004604
3,Argentina,Latin America and the Caribbean,30,0.009403
4,Armenia,Eastern Europe,59,0.007062
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,88,0.005913
162,Belize,Latin America and the Caribbean,69,0.006747
163,Hong Kong,Asia-Pacific,25,0.010281
164,Afghanistan,Asia-Pacific,152,0.001754
165,Venezuela,Latin America and the Caribbean,70,0.006747

In [319]:
#apply built-in decision matrix function to create decision matrix object for women 2011 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =women11_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_women, #safety index alternatives
    criteria=['physical_security_women', 'protection_womens_rights', 'womens_agency'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women11_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women11_dmt=scaler.transform(women11_dmt)


#convert decision matrix to dataframe
women11_copy = women_2011.copy()

 
#WSM method
women11_wsm_dec = simple.WeightedSumModel()
women11_wsm_rank = women11_wsm_dec.evaluate(women11_dmt)
women11_copy.loc[:, '2011_rank_weightedSum']=women11_wsm_rank.rank_
women11_copy.loc[:,'2011_score_weightedSum']= women11_wsm_rank.e_.score

women11_df = women11_copy.reset_index(drop=True)
women11 = women11_df[['country','area_group','2011_rank_weightedSum','2011_score_weightedSum']]
women11

,country,area_group,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,83,0.006073
1,Algeria,Middle East and North Africa,139,0.002173
2,Angola,Sub-Saharan Africa,106,0.004604
3,Argentina,Latin America and the Caribbean,30,0.009403
4,Armenia,Eastern Europe,59,0.007062
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,88,0.005913
162,Belize,Latin America and the Caribbean,69,0.006747
163,Hong Kong,Asia-Pacific,25,0.010281
164,Afghanistan,Asia-Pacific,152,0.001754
165,Venezuela,Latin America and the Caribbean,70,0.006747

In [327]:
#need to mere all new dataframes
#use reduce and merge to merge all df at once

#import functools for reduce()
from functools import reduce

#initialize list of dataframes
dfs2 = [women21, women20, women19, women18, women17, women16, women15, women14, women13, women12, women11]

#merge all dataframes
women_df_final = reduce(lambda left, right: pd.merge(left, right, on=['country', 'area_group']), dfs2)
women_df_final

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum,2020_rank_weightedSum,2020_score_weightedSum,2019_rank_weightedSum,2019_score_weightedSum,2018_rank_weightedSum,2018_score_weightedSum,...,2015_rank_weightedSum,2015_score_weightedSum,2014_rank_weightedSum,2014_score_weightedSum,2013_rank_weightedSum,2013_score_weightedSum,2012_rank_weightedSum,2012_score_weightedSum,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,72,0.006346,71,0.006382,71,0.006382,66,0.006800,...,74,0.006344,71,0.006506,83,0.006073,83,0.006073,83,0.006073
1,Algeria,Middle East and North Africa,105,0.004396,101,0.004414,101,0.004414,133,0.002193,...,131,0.002231,134,0.002173,139,0.002173,139,0.002173,139,0.002173
2,Angola,Sub-Saharan Africa,92,0.005131,94,0.004897,94,0.004897,89,0.005316,...,88,0.005095,93,0.005037,106,0.004604,106,0.004604,106,0.004604
3,Argentina,Latin America and the Caribbean,43,0.009179,43,0.009208,43,0.009208,52,0.007406,...,51,0.007467,50,0.007629,30,0.009403,30,0.009403,30,0.009403
4,Armenia,Eastern Europe,59,0.006826,58,0.006865,58,0.006865,101,0.004644,...,100,0.004729,98,0.004856,59,0.007062,59,0.007062,59,0.007062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,81,0.005931,82,0.005957,82,0.005957,75,0.006386,...,73,0.006444,74,0.006357,88,0.005913,88,0.005913,88,0.005913
162,Belize,Latin America and the Caribbean,65,0.006764,67,0.006538,67,0.006538,64,0.006957,...,62,0.007018,58,0.007180,69,0.006747,69,0.006747,69,0.006747
163,Hong Kong,Asia-Pacific,28,0.010314,25,0.010352,25,0.010352,21,0.011222,...,21,0.011304,22,0.011180,25,0.010281,25,0.010281,25,0.010281
164,Afghanistan,Asia-Pacific,153,0.001501,154,0.001519,154,0.001519,154,0.001519,...,144,0.001824,147,0.001754,152,0.001754,152,0.001754,152,0.001754
165,Venezuela,Latin America and the Caribbean,66,0.006764,68,0.006538,68,0.006538,109,0.004317,...,109,0.004378,106,0.004540,70,0.006747,70,0.006747,70,0.006747

In [321]:
#apply built-in decision matrix function to create decision matrix object for race 2021 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race21_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race21_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race21_dmt=scaler.transform(race21_dmt)


#convert decision matrix to dataframe
race21_copy = race_2021.copy()

 
#WSM method
race21_wsm_dec = simple.WeightedSumModel()
race21_wsm_rank = race21_wsm_dec.evaluate(race21_dmt)
race21_copy.loc[:, '2021_rank_weightedSum']=race21_wsm_rank.rank_
race21_copy.loc[:,'2021_score_weightedSum']= race21_wsm_rank.e_.score

race21_df = race21_copy.reset_index(drop=True)
race21 = race21_df[['country','area_group','2021_rank_weightedSum','2021_score_weightedSum']]
race21

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum
0,Albania,Eastern Europe,66,0.006189
1,Algeria,Middle East and North Africa,80,0.005833
2,Angola,Sub-Saharan Africa,109,0.004787
3,Argentina,Latin America and the Caribbean,32,0.007595
4,Armenia,Eastern Europe,79,0.005859
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,116,0.004552
159,Zimbabwe,Sub-Saharan Africa,134,0.003904
160,South Korea,Asia-Pacific,37,0.007229
161,Seychelles,Sub-Saharan Africa,55,0.006552
162,Belize,Latin America and the Caribbean,98,0.005055

In [322]:
#apply built-in decision matrix function to create decision matrix object for race 2020 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race20_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race20_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race20_dmt=scaler.transform(race20_dmt)


#convert decision matrix to dataframe
race20_copy = race_2020.copy()

 
#WSM method
race20_wsm_dec = simple.WeightedSumModel()
race20_wsm_rank = race20_wsm_dec.evaluate(race20_dmt)
race20_copy.loc[:, '2020_rank_weightedSum']=race20_wsm_rank.rank_
race20_copy.loc[:,'2020_score_weightedSum']= race20_wsm_rank.e_.score

race20_df = race20_copy.reset_index(drop=True)
race20 = race20_df[['country','area_group','2020_rank_weightedSum','2020_score_weightedSum']]
race20

,country,area_group,2020_rank_weightedSum,2020_score_weightedSum
0,Albania,Eastern Europe,66,0.006196
1,Algeria,Middle East and North Africa,80,0.005880
2,Angola,Sub-Saharan Africa,107,0.004919
3,Argentina,Latin America and the Caribbean,33,0.007589
4,Armenia,Eastern Europe,74,0.006099
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,112,0.004792
159,Zimbabwe,Sub-Saharan Africa,135,0.003943
160,South Korea,Asia-Pacific,37,0.007260
161,Seychelles,Sub-Saharan Africa,56,0.006664
162,Belize,Latin America and the Caribbean,93,0.005343

In [323]:
#apply built-in decision matrix function to create decision matrix object for race 2019 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race19_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race19_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race19_dmt=scaler.transform(race19_dmt)


#convert decision matrix to dataframe
race19_copy = race_2019.copy()

 
#WSM method
race19_wsm_dec = simple.WeightedSumModel()
race19_wsm_rank = race19_wsm_dec.evaluate(race19_dmt)
race19_copy.loc[:, '2019_rank_weightedSum']=race19_wsm_rank.rank_
race19_copy.loc[:,'2019_score_weightedSum']= race19_wsm_rank.e_.score

race19_df = race19_copy.reset_index(drop=True)
race19 = race19_df[['country','area_group','2019_rank_weightedSum','2019_score_weightedSum']]
race19

,country,area_group,2019_rank_weightedSum,2019_score_weightedSum
0,Albania,Eastern Europe,68,0.006262
1,Algeria,Middle East and North Africa,75,0.006078
2,Angola,Sub-Saharan Africa,104,0.004958
3,Argentina,Latin America and the Caribbean,34,0.007563
4,Armenia,Eastern Europe,76,0.006077
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,101,0.005081
159,Zimbabwe,Sub-Saharan Africa,137,0.003836
160,South Korea,Asia-Pacific,41,0.007311
161,Seychelles,Sub-Saharan Africa,55,0.006861
162,Belize,Latin America and the Caribbean,121,0.004561

In [324]:
#apply built-in decision matrix function to create decision matrix object for race 2018 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race18_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race18_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race18_dmt=scaler.transform(race18_dmt)


#convert decision matrix to dataframe
race18_copy = race_2018.copy()

 
#WSM method
race18_wsm_dec = simple.WeightedSumModel()
race18_wsm_rank = race18_wsm_dec.evaluate(race18_dmt)
race18_copy.loc[:, '2018_rank_weightedSum']=race18_wsm_rank.rank_
race18_copy.loc[:,'2018_score_weightedSum']= race18_wsm_rank.e_.score

race18_df = race18_copy.reset_index(drop=True)
race18 = race18_df[['country','area_group','2018_rank_weightedSum','2018_score_weightedSum']]
race18

,country,area_group,2018_rank_weightedSum,2018_score_weightedSum
0,Albania,Eastern Europe,67,0.006373
1,Algeria,Middle East and North Africa,77,0.006169
2,Angola,Sub-Saharan Africa,105,0.005079
3,Argentina,Latin America and the Caribbean,37,0.007520
4,Armenia,Eastern Europe,79,0.006073
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,102,0.005163
159,Zimbabwe,Sub-Saharan Africa,145,0.003282
160,South Korea,Asia-Pacific,44,0.007136
161,Seychelles,Sub-Saharan Africa,54,0.006986
162,Belize,Latin America and the Caribbean,99,0.005265

In [325]:
#apply built-in decision matrix function to create decision matrix object for race 2017 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race17_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race17_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race17_dmt=scaler.transform(race17_dmt)


#convert decision matrix to dataframe
race17_copy = race_2017.copy()

 
#WSM method
race17_wsm_dec = simple.WeightedSumModel()
race17_wsm_rank = race17_wsm_dec.evaluate(race17_dmt)
race17_copy.loc[:, '2017_rank_weightedSum']=race17_wsm_rank.rank_
race17_copy.loc[:,'2017_score_weightedSum']= race17_wsm_rank.e_.score

race17_df = race17_copy.reset_index(drop=True)
race17 = race17_df[['country','area_group','2017_rank_weightedSum','2017_score_weightedSum']]
race17

,country,area_group,2017_rank_weightedSum,2017_score_weightedSum
0,Albania,Eastern Europe,72,0.006315
1,Algeria,Middle East and North Africa,75,0.006292
2,Angola,Sub-Saharan Africa,105,0.005087
3,Argentina,Latin America and the Caribbean,38,0.007484
4,Armenia,Eastern Europe,79,0.006065
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,103,0.005152
159,Zimbabwe,Sub-Saharan Africa,146,0.003288
160,South Korea,Asia-Pacific,44,0.007225
161,Seychelles,Sub-Saharan Africa,54,0.006928
162,Belize,Latin America and the Caribbean,102,0.005181

In [329]:
#apply built-in decision matrix function to create decision matrix object for race 2016 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race16_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race16_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race16_dmt=scaler.transform(race16_dmt)


#convert decision matrix to dataframe
race16_copy = race_2016.copy()

 
#WSM method
race16_wsm_dec = simple.WeightedSumModel()
race16_wsm_rank = race16_wsm_dec.evaluate(race16_dmt)
race16_copy.loc[:, '2016_rank_weightedSum']=race16_wsm_rank.rank_
race16_copy.loc[:,'2016_score_weightedSum']= race16_wsm_rank.e_.score

race16_df = race16_copy.reset_index(drop=True)
race16 = race16_df[['country','area_group','2016_rank_weightedSum','2016_score_weightedSum']]
race16

,country,area_group,2016_rank_weightedSum,2016_score_weightedSum
0,Albania,Eastern Europe,65,0.006328
1,Algeria,Middle East and North Africa,75,0.006103
2,Angola,Sub-Saharan Africa,109,0.005036
3,Argentina,Latin America and the Caribbean,39,0.007373
4,Armenia,Eastern Europe,71,0.006223
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,122,0.004636
159,Zimbabwe,Sub-Saharan Africa,139,0.003859
160,South Korea,Asia-Pacific,31,0.007747
161,Seychelles,Sub-Saharan Africa,52,0.006925
162,Belize,Latin America and the Caribbean,114,0.004853

In [330]:
#apply built-in decision matrix function to create decision matrix object for race 2015 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race15_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race15_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race15_dmt=scaler.transform(race15_dmt)


#convert decision matrix to dataframe
race15_copy = race_2015.copy()

 
#WSM method
race15_wsm_dec = simple.WeightedSumModel()
race15_wsm_rank = race15_wsm_dec.evaluate(race15_dmt)
race15_copy.loc[:, '2015_rank_weightedSum']=race15_wsm_rank.rank_
race15_copy.loc[:,'2015_score_weightedSum']= race15_wsm_rank.e_.score

race15_df = race15_copy.reset_index(drop=True)
race15 = race15_df[['country','area_group','2015_rank_weightedSum','2015_score_weightedSum']]
race15

,country,area_group,2015_rank_weightedSum,2015_score_weightedSum
0,Albania,Eastern Europe,74,0.006255
1,Algeria,Middle East and North Africa,84,0.005915
2,Angola,Sub-Saharan Africa,109,0.005035
3,Argentina,Latin America and the Caribbean,46,0.006968
4,Armenia,Eastern Europe,76,0.006174
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,133,0.004294
159,Zimbabwe,Sub-Saharan Africa,144,0.003704
160,South Korea,Asia-Pacific,44,0.006992
161,Seychelles,Sub-Saharan Africa,54,0.006793
162,Belize,Latin America and the Caribbean,107,0.005149

In [331]:
#apply built-in decision matrix function to create decision matrix object for race 2014 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race14_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race14_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race14_dmt=scaler.transform(race14_dmt)


#convert decision matrix to dataframe
race14_copy = race_2014.copy()

 
#WSM method
race14_wsm_dec = simple.WeightedSumModel()
race14_wsm_rank = race14_wsm_dec.evaluate(race14_dmt)
race14_copy.loc[:, '2014_rank_weightedSum']=race14_wsm_rank.rank_
race14_copy.loc[:,'2014_score_weightedSum']= race14_wsm_rank.e_.score

race14_df = race14_copy.reset_index(drop=True)
race14 = race14_df[['country','area_group','2014_rank_weightedSum','2014_score_weightedSum']]
race14

,country,area_group,2014_rank_weightedSum,2014_score_weightedSum
0,Albania,Eastern Europe,70,0.006312
1,Algeria,Middle East and North Africa,81,0.005915
2,Angola,Sub-Saharan Africa,108,0.005020
3,Argentina,Latin America and the Caribbean,53,0.006758
4,Armenia,Eastern Europe,80,0.005987
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,137,0.004122
159,Zimbabwe,Sub-Saharan Africa,145,0.003597
160,South Korea,Asia-Pacific,51,0.006845
161,Seychelles,Sub-Saharan Africa,61,0.006544
162,Belize,Latin America and the Caribbean,111,0.004861

In [332]:
#apply built-in decision matrix function to create decision matrix object for race 2013 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race13_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race13_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race13_dmt=scaler.transform(race13_dmt)


#convert decision matrix to dataframe
race13_copy = race_2013.copy()

 
#WSM method
race13_wsm_dec = simple.WeightedSumModel()
race13_wsm_rank = race13_wsm_dec.evaluate(race13_dmt)
race13_copy.loc[:, '2013_rank_weightedSum']=race13_wsm_rank.rank_
race13_copy.loc[:,'2013_score_weightedSum']= race13_wsm_rank.e_.score

race13_df = race13_copy.reset_index(drop=True)
race13 = race13_df[['country','area_group','2013_rank_weightedSum','2013_score_weightedSum']]
race13

,country,area_group,2013_rank_weightedSum,2013_score_weightedSum
0,Albania,Eastern Europe,74,0.006217
1,Algeria,Middle East and North Africa,81,0.005905
2,Angola,Sub-Saharan Africa,106,0.005057
3,Argentina,Latin America and the Caribbean,50,0.006840
4,Armenia,Eastern Europe,80,0.005949
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,137,0.004086
159,Zimbabwe,Sub-Saharan Africa,145,0.003522
160,South Korea,Asia-Pacific,53,0.006812
161,Seychelles,Sub-Saharan Africa,64,0.006499
162,Belize,Latin America and the Caribbean,114,0.004811

In [333]:
#apply built-in decision matrix function to create decision matrix object for race 2012 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race12_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race12_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race12_dmt=scaler.transform(race12_dmt)


#convert decision matrix to dataframe
race12_copy = race_2012.copy()

 
#WSM method
race12_wsm_dec = simple.WeightedSumModel()
race12_wsm_rank = race12_wsm_dec.evaluate(race12_dmt)
race12_copy.loc[:, '2012_rank_weightedSum']=race12_wsm_rank.rank_
race12_copy.loc[:,'2012_score_weightedSum']= race12_wsm_rank.e_.score

race12_df = race12_copy.reset_index(drop=True)
race12 = race12_df[['country','area_group','2012_rank_weightedSum','2012_score_weightedSum']]
race12

,country,area_group,2012_rank_weightedSum,2012_score_weightedSum
0,Albania,Eastern Europe,79,0.006081
1,Algeria,Middle East and North Africa,82,0.005852
2,Angola,Sub-Saharan Africa,104,0.005130
3,Argentina,Latin America and the Caribbean,42,0.006977
4,Armenia,Eastern Europe,80,0.005947
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,138,0.003997
159,Zimbabwe,Sub-Saharan Africa,146,0.003476
160,South Korea,Asia-Pacific,51,0.006810
161,Seychelles,Sub-Saharan Africa,63,0.006497
162,Belize,Latin America and the Caribbean,113,0.004809

In [334]:
#apply built-in decision matrix function to create decision matrix object for race 2011 index
#167 alternatives x 3 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =race11_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.35, 0.35, .30], #apply weights
    alternatives = alt_race, #safety index alternatives
    criteria=['discrimination_and_violence_against_minorities', 'equal_treatment','nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race11_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race11_dmt=scaler.transform(race11_dmt)


#convert decision matrix to dataframe
race11_copy = race_2011.copy()

 
#WSM method
race11_wsm_dec = simple.WeightedSumModel()
race11_wsm_rank = race11_wsm_dec.evaluate(race11_dmt)
race11_copy.loc[:, '2011_rank_weightedSum']=race11_wsm_rank.rank_
race11_copy.loc[:,'2011_score_weightedSum']= race11_wsm_rank.e_.score

race11_df = race11_copy.reset_index(drop=True)
race11 = race11_df[['country','area_group','2011_rank_weightedSum','2011_score_weightedSum']]
race11

,country,area_group,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,76,0.006065
1,Algeria,Middle East and North Africa,83,0.005893
2,Angola,Sub-Saharan Africa,102,0.005197
3,Argentina,Latin America and the Caribbean,45,0.006865
4,Armenia,Eastern Europe,84,0.005837
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,135,0.004164
159,Zimbabwe,Sub-Saharan Africa,147,0.003425
160,South Korea,Asia-Pacific,51,0.006726
161,Seychelles,Sub-Saharan Africa,62,0.006479
162,Belize,Latin America and the Caribbean,117,0.004789

In [335]:
#need to mere all new dataframes
#use reduce and merge to merge all df at once

#import functools for reduce()
from functools import reduce

#initialize list of dataframes
dfs3 = [race21, race20, race19, race18, race17, race16, race15, race14, race13, race12, race11]

#merge all dataframes
race_df_final = reduce(lambda left, right: pd.merge(left, right, on=['country', 'area_group']), dfs3)
race_df_final

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum,2020_rank_weightedSum,2020_score_weightedSum,2019_rank_weightedSum,2019_score_weightedSum,2018_rank_weightedSum,2018_score_weightedSum,...,2015_rank_weightedSum,2015_score_weightedSum,2014_rank_weightedSum,2014_score_weightedSum,2013_rank_weightedSum,2013_score_weightedSum,2012_rank_weightedSum,2012_score_weightedSum,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,66,0.006189,66,0.006196,68,0.006262,67,0.006373,...,74,0.006255,70,0.006312,74,0.006217,79,0.006081,76,0.006065
1,Algeria,Middle East and North Africa,80,0.005833,80,0.005880,75,0.006078,77,0.006169,...,84,0.005915,81,0.005915,81,0.005905,82,0.005852,83,0.005893
2,Angola,Sub-Saharan Africa,109,0.004787,107,0.004919,104,0.004958,105,0.005079,...,109,0.005035,108,0.005020,106,0.005057,104,0.005130,102,0.005197
3,Argentina,Latin America and the Caribbean,32,0.007595,33,0.007589,34,0.007563,37,0.007520,...,46,0.006968,53,0.006758,50,0.006840,42,0.006977,45,0.006865
4,Armenia,Eastern Europe,79,0.005859,74,0.006099,76,0.006077,79,0.006073,...,76,0.006174,80,0.005987,80,0.005949,80,0.005947,84,0.005837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Zambia,Sub-Saharan Africa,116,0.004552,112,0.004792,101,0.005081,102,0.005163,...,133,0.004294,137,0.004122,137,0.004086,138,0.003997,135,0.004164
159,Zimbabwe,Sub-Saharan Africa,134,0.003904,135,0.003943,137,0.003836,145,0.003282,...,144,0.003704,145,0.003597,145,0.003522,146,0.003476,147,0.003425
160,South Korea,Asia-Pacific,37,0.007229,37,0.007260,41,0.007311,44,0.007136,...,44,0.006992,51,0.006845,53,0.006812,51,0.006810,51,0.006726
161,Seychelles,Sub-Saharan Africa,55,0.006552,56,0.006664,55,0.006861,54,0.006986,...,54,0.006793,61,0.006544,64,0.006499,63,0.006497,62,0.006479
162,Belize,Latin America and the Caribbean,98,0.005055,93,0.005343,121,0.004561,99,0.005265,...,107,0.005149,111,0.004861,114,0.004811,113,0.004809,117,0.004789

In [336]:
#apply built-in decision matrix function to create decision matrix object for social 2021 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social21_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social21_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social21_dmt=scaler.transform(social21_dmt)


#convert decision matrix to dataframe
social21_copy = social_2021.copy()

 
#WSM method
social21_wsm_dec = simple.WeightedSumModel()
social21_wsm_rank = social21_wsm_dec.evaluate(social21_dmt)
social21_copy.loc[:, '2021_rank_weightedSum']=social21_wsm_rank.rank_
social21_copy.loc[:,'2021_score_weightedSum']= social21_wsm_rank.e_.score

social21_df = social21_copy.reset_index(drop=True)
social21 = social21_df[['country','area_group','2021_rank_weightedSum','2021_score_weightedSum']]
social21

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum
0,Albania,Eastern Europe,77,0.005764
1,Algeria,Middle East and North Africa,140,0.003907
2,Angola,Sub-Saharan Africa,124,0.004409
3,Argentina,Latin America and the Caribbean,30,0.006854
4,Armenia,Eastern Europe,61,0.006069
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,123,0.004409
159,Zimbabwe,Sub-Saharan Africa,132,0.004273
160,South Korea,Asia-Pacific,157,0.002968
161,Seychelles,Sub-Saharan Africa,60,0.006072
162,Hong Kong,Asia-Pacific,99,0.005216

In [337]:
#apply built-in decision matrix function to create decision matrix object for social 2020 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social20_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social20_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social20_dmt=scaler.transform(social20_dmt)


#convert decision matrix to dataframe
social20_copy = social_2020.copy()

 
#WSM method
social20_wsm_dec = simple.WeightedSumModel()
social20_wsm_rank = social20_wsm_dec.evaluate(social20_dmt)
social20_copy.loc[:, '2020_rank_weightedSum']=social20_wsm_rank.rank_
social20_copy.loc[:,'2020_score_weightedSum']= social20_wsm_rank.e_.score

social20_df = social20_copy.reset_index(drop=True)
social20 = social20_df[['country','area_group','2020_rank_weightedSum','2020_score_weightedSum']]
social20

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2020_rank_weightedSum,2020_score_weightedSum
0,Albania,Eastern Europe,62,0.005960
1,Algeria,Middle East and North Africa,144,0.003681
2,Angola,Sub-Saharan Africa,126,0.004376
3,Argentina,Latin America and the Caribbean,38,0.006478
4,Armenia,Eastern Europe,54,0.006189
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,120,0.004688
159,Zimbabwe,Sub-Saharan Africa,130,0.004321
160,South Korea,Asia-Pacific,157,0.003112
161,Seychelles,Sub-Saharan Africa,68,0.005919
162,Hong Kong,Asia-Pacific,91,0.005474

In [338]:
#apply built-in decision matrix function to create decision matrix object for social 2019 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social19_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social19_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social19_dmt=scaler.transform(social19_dmt)


#convert decision matrix to dataframe
social19_copy = social_2019.copy()

 
#WSM method
social19_wsm_dec = simple.WeightedSumModel()
social19_wsm_rank = social19_wsm_dec.evaluate(social19_dmt)
social19_copy.loc[:, '2019_rank_weightedSum']=social19_wsm_rank.rank_
social19_copy.loc[:,'2019_score_weightedSum']= social19_wsm_rank.e_.score

social19_df = social19_copy.reset_index(drop=True)
social19 = social19_df[['country','area_group','2019_rank_weightedSum','2019_score_weightedSum']]
social19

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2019_rank_weightedSum,2019_score_weightedSum
0,Albania,Eastern Europe,58,0.006155
1,Algeria,Middle East and North Africa,129,0.004345
2,Angola,Sub-Saharan Africa,126,0.004491
3,Argentina,Latin America and the Caribbean,37,0.006507
4,Armenia,Eastern Europe,76,0.005854
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,111,0.004862
159,Zimbabwe,Sub-Saharan Africa,120,0.004694
160,South Korea,Asia-Pacific,155,0.003006
161,Seychelles,Sub-Saharan Africa,71,0.005889
162,Hong Kong,Asia-Pacific,32,0.006641

In [339]:
#apply built-in decision matrix function to create decision matrix object for social 2018 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social18_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social18_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social18_dmt=scaler.transform(social18_dmt)


#convert decision matrix to dataframe
social18_copy = social_2018.copy()

 
#WSM method
social18_wsm_dec = simple.WeightedSumModel()
social18_wsm_rank = social18_wsm_dec.evaluate(social18_dmt)
social18_copy.loc[:, '2018_rank_weightedSum']=social18_wsm_rank.rank_
social18_copy.loc[:,'2018_score_weightedSum']= social18_wsm_rank.e_.score

social18_df = social18_copy.reset_index(drop=True)
social18 = social18_df[['country','area_group','2018_rank_weightedSum','2018_score_weightedSum']]
social18

/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/invert_objectives.py:78: RuntimeWarning: divide by zero encountered in true_divide
  inverted_values = 1.0 / inv_mtx[:, mask]
/opt/anaconda3/lib/python3.8/site-packages/skcriteria/preprocessing/scalers.py:320: RuntimeWarning: invalid value encountered in true_divide
  return arr / sumval

,country,area_group,2018_rank_weightedSum,2018_score_weightedSum
0,Albania,Eastern Europe,52,0.006326
1,Algeria,Middle East and North Africa,132,0.004132
2,Angola,Sub-Saharan Africa,131,0.004180
3,Argentina,Latin America and the Caribbean,41,0.006484
4,Armenia,Eastern Europe,107,0.005130
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,110,0.005095
159,Zimbabwe,Sub-Saharan Africa,123,0.004503
160,South Korea,Asia-Pacific,157,0.002774
161,Seychelles,Sub-Saharan Africa,73,0.005867
162,Hong Kong,Asia-Pacific,33,0.006688

In [340]:
#apply built-in decision matrix function to create decision matrix object for social 2017 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social17_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social17_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social17_dmt=scaler.transform(social17_dmt)


#convert decision matrix to dataframe
social17_copy = social_2017.copy()

 
#WSM method
social17_wsm_dec = simple.WeightedSumModel()
social17_wsm_rank = social17_wsm_dec.evaluate(social17_dmt)
social17_copy.loc[:, '2017_rank_weightedSum']=social17_wsm_rank.rank_
social17_copy.loc[:,'2017_score_weightedSum']= social17_wsm_rank.e_.score

social17_df = social17_copy.reset_index(drop=True)
social17 = social17_df[['country','area_group','2017_rank_weightedSum','2017_score_weightedSum']]
social17

,country,area_group,2017_rank_weightedSum,2017_score_weightedSum
0,Albania,Eastern Europe,42,0.006968
1,Algeria,Middle East and North Africa,134,0.004988
2,Angola,Sub-Saharan Africa,140,0.004798
3,Argentina,Latin America and the Caribbean,43,0.006940
4,Armenia,Eastern Europe,114,0.005557
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,123,0.005450
159,Zimbabwe,Sub-Saharan Africa,141,0.004762
160,South Korea,Asia-Pacific,158,0.003513
161,Seychelles,Sub-Saharan Africa,80,0.006238
162,Hong Kong,Asia-Pacific,46,0.006894

In [341]:
#apply built-in decision matrix function to create decision matrix object for social 2016 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social16_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social16_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social16_dmt=scaler.transform(social16_dmt)


#convert decision matrix to dataframe
social16_copy = social_2016.copy()

 
#WSM method
social16_wsm_dec = simple.WeightedSumModel()
social16_wsm_rank = social16_wsm_dec.evaluate(social16_dmt)
social16_copy.loc[:, '2016_rank_weightedSum']=social16_wsm_rank.rank_
social16_copy.loc[:,'2016_score_weightedSum']= social16_wsm_rank.e_.score

social16_df = social16_copy.reset_index(drop=True)
social16 = social16_df[['country','area_group','2016_rank_weightedSum','2016_score_weightedSum']]
social16

,country,area_group,2016_rank_weightedSum,2016_score_weightedSum
0,Albania,Eastern Europe,57,0.006719
1,Algeria,Middle East and North Africa,138,0.004760
2,Angola,Sub-Saharan Africa,144,0.004636
3,Argentina,Latin America and the Caribbean,50,0.006826
4,Armenia,Eastern Europe,114,0.005529
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,106,0.005763
159,Zimbabwe,Sub-Saharan Africa,118,0.005459
160,South Korea,Asia-Pacific,159,0.003457
161,Seychelles,Sub-Saharan Africa,86,0.006197
162,Hong Kong,Asia-Pacific,45,0.006954

In [342]:
#apply built-in decision matrix function to create decision matrix object for social 2015 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social15_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social15_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social15_dmt=scaler.transform(social15_dmt)


#convert decision matrix to dataframe
social15_copy = social_2015.copy()

 
#WSM method
social15_wsm_dec = simple.WeightedSumModel()
social15_wsm_rank = social15_wsm_dec.evaluate(social15_dmt)
social15_copy.loc[:, '2015_rank_weightedSum']=social15_wsm_rank.rank_
social15_copy.loc[:,'2015_score_weightedSum']= social15_wsm_rank.e_.score

social15_df = social15_copy.reset_index(drop=True)
social15 = social15_df[['country','area_group','2015_rank_weightedSum','2015_score_weightedSum']]
social15

,country,area_group,2015_rank_weightedSum,2015_score_weightedSum
0,Albania,Eastern Europe,55,0.006674
1,Algeria,Middle East and North Africa,129,0.004910
2,Angola,Sub-Saharan Africa,134,0.004817
3,Argentina,Latin America and the Caribbean,60,0.006618
4,Armenia,Eastern Europe,112,0.005708
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,107,0.005757
159,Zimbabwe,Sub-Saharan Africa,133,0.004862
160,South Korea,Asia-Pacific,162,0.003380
161,Seychelles,Sub-Saharan Africa,80,0.006206
162,Hong Kong,Asia-Pacific,36,0.007085

In [343]:
#apply built-in decision matrix function to create decision matrix object for social 2014 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social14_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social14_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social14_dmt=scaler.transform(social14_dmt)


#convert decision matrix to dataframe
social14_copy = social_2014.copy()

 
#WSM method
social14_wsm_dec = simple.WeightedSumModel()
social14_wsm_rank = social14_wsm_dec.evaluate(social14_dmt)
social14_copy.loc[:, '2014_rank_weightedSum']=social14_wsm_rank.rank_
social14_copy.loc[:,'2014_score_weightedSum']= social14_wsm_rank.e_.score

social14_df = social14_copy.reset_index(drop=True)
social14 = social14_df[['country','area_group','2014_rank_weightedSum','2014_score_weightedSum']]
social14

,country,area_group,2014_rank_weightedSum,2014_score_weightedSum
0,Albania,Eastern Europe,78,0.006221
1,Algeria,Middle East and North Africa,135,0.004956
2,Angola,Sub-Saharan Africa,134,0.004963
3,Argentina,Latin America and the Caribbean,61,0.006582
4,Armenia,Eastern Europe,101,0.005740
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,110,0.005613
159,Zimbabwe,Sub-Saharan Africa,139,0.004837
160,South Korea,Asia-Pacific,161,0.003492
161,Seychelles,Sub-Saharan Africa,81,0.006187
162,Hong Kong,Asia-Pacific,36,0.007080

In [344]:
#apply built-in decision matrix function to create decision matrix object for social 2013 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social13_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social13_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social13_dmt=scaler.transform(social13_dmt)


#convert decision matrix to dataframe
social13_copy = social_2013.copy()

 
#WSM method
social13_wsm_dec = simple.WeightedSumModel()
social13_wsm_rank = social13_wsm_dec.evaluate(social13_dmt)
social13_copy.loc[:, '2013_rank_weightedSum']=social13_wsm_rank.rank_
social13_copy.loc[:,'2013_score_weightedSum']= social13_wsm_rank.e_.score

social13_df = social13_copy.reset_index(drop=True)
social13 = social13_df[['country','area_group','2013_rank_weightedSum','2013_score_weightedSum']]
social13

,country,area_group,2013_rank_weightedSum,2013_score_weightedSum
0,Albania,Eastern Europe,69,0.006476
1,Algeria,Middle East and North Africa,118,0.005478
2,Angola,Sub-Saharan Africa,145,0.004471
3,Argentina,Latin America and the Caribbean,63,0.006593
4,Armenia,Eastern Europe,108,0.005786
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,101,0.005864
159,Zimbabwe,Sub-Saharan Africa,141,0.004615
160,South Korea,Asia-Pacific,161,0.003496
161,Seychelles,Sub-Saharan Africa,86,0.006097
162,Hong Kong,Asia-Pacific,37,0.007038

In [345]:
#apply built-in decision matrix function to create decision matrix object for social 2012 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social12_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social12_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social12_dmt=scaler.transform(social12_dmt)


#convert decision matrix to dataframe
social12_copy = social_2012.copy()

 
#WSM method
social12_wsm_dec = simple.WeightedSumModel()
social12_wsm_rank = social12_wsm_dec.evaluate(social12_dmt)
social12_copy.loc[:, '2012_rank_weightedSum']=social12_wsm_rank.rank_
social12_copy.loc[:,'2012_score_weightedSum']= social12_wsm_rank.e_.score

social12_df = social12_copy.reset_index(drop=True)
social12 = social12_df[['country','area_group','2012_rank_weightedSum','2012_score_weightedSum']]
social12

,country,area_group,2012_rank_weightedSum,2012_score_weightedSum
0,Albania,Eastern Europe,68,0.006474
1,Algeria,Middle East and North Africa,125,0.005153
2,Angola,Sub-Saharan Africa,146,0.004429
3,Argentina,Latin America and the Caribbean,56,0.006687
4,Armenia,Eastern Europe,119,0.005353
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,99,0.005731
159,Zimbabwe,Sub-Saharan Africa,130,0.004991
160,South Korea,Asia-Pacific,160,0.003540
161,Seychelles,Sub-Saharan Africa,88,0.006045
162,Hong Kong,Asia-Pacific,36,0.007240

In [346]:
#apply built-in decision matrix function to create decision matrix object for social 2011 index
#164 alternatives x 10 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =social11_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.10, 0.10, .10, 0.10, 0.10, .10, 0.10, 0.10, .10, 0.10], #apply weights
    alternatives = alt_social, #safety index alternatives
    criteria=['media_censorship', 'access_to_justice','freedom_of_expression','freedom_of_religion','freedom_of_belief_religion',
            'freedom_opinion_expression','government_intimidation', 'respect', 'satisfaction_with_freedom', 'confidence_in_police'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social11_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social11_dmt=scaler.transform(social11_dmt)


#convert decision matrix to dataframe
social11_copy = social_2011.copy()

 
#WSM method
social11_wsm_dec = simple.WeightedSumModel()
social11_wsm_rank = social11_wsm_dec.evaluate(social11_dmt)
social11_copy.loc[:, '2011_rank_weightedSum']=social11_wsm_rank.rank_
social11_copy.loc[:,'2011_score_weightedSum']= social11_wsm_rank.e_.score

social11_df = social11_copy.reset_index(drop=True)
social11 = social11_df[['country','area_group','2011_rank_weightedSum','2011_score_weightedSum']]
social11

,country,area_group,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,73,0.006255
1,Algeria,Middle East and North Africa,125,0.005262
2,Angola,Sub-Saharan Africa,148,0.004477
3,Argentina,Latin America and the Caribbean,52,0.006724
4,Armenia,Eastern Europe,116,0.005429
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,93,0.005853
159,Zimbabwe,Sub-Saharan Africa,117,0.005401
160,South Korea,Asia-Pacific,161,0.003678
161,Seychelles,Sub-Saharan Africa,79,0.006158
162,Hong Kong,Asia-Pacific,27,0.007516

In [347]:
#need to mere all new dataframes
#use reduce and merge to merge all df at once

#import functools for reduce()
from functools import reduce

#initialize list of dataframes
dfs4 = [social21, social20, social19, social18, social17, social16, social15, social14, social13, social12, social11]

#merge all dataframes
social_df_final = reduce(lambda left, right: pd.merge(left, right, on=['country', 'area_group']), dfs4)
social_df_final

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum,2020_rank_weightedSum,2020_score_weightedSum,2019_rank_weightedSum,2019_score_weightedSum,2018_rank_weightedSum,2018_score_weightedSum,...,2015_rank_weightedSum,2015_score_weightedSum,2014_rank_weightedSum,2014_score_weightedSum,2013_rank_weightedSum,2013_score_weightedSum,2012_rank_weightedSum,2012_score_weightedSum,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,77,0.005764,62,0.005960,58,0.006155,52,0.006326,...,55,0.006674,78,0.006221,69,0.006476,68,0.006474,73,0.006255
1,Algeria,Middle East and North Africa,140,0.003907,144,0.003681,129,0.004345,132,0.004132,...,129,0.004910,135,0.004956,118,0.005478,125,0.005153,125,0.005262
2,Angola,Sub-Saharan Africa,124,0.004409,126,0.004376,126,0.004491,131,0.004180,...,134,0.004817,134,0.004963,145,0.004471,146,0.004429,148,0.004477
3,Argentina,Latin America and the Caribbean,30,0.006854,38,0.006478,37,0.006507,41,0.006484,...,60,0.006618,61,0.006582,63,0.006593,56,0.006687,52,0.006724
4,Armenia,Eastern Europe,61,0.006069,54,0.006189,76,0.005854,107,0.005130,...,112,0.005708,101,0.005740,108,0.005786,119,0.005353,116,0.005429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Zambia,Sub-Saharan Africa,123,0.004409,120,0.004688,111,0.004862,110,0.005095,...,107,0.005757,110,0.005613,101,0.005864,99,0.005731,93,0.005853
159,Zimbabwe,Sub-Saharan Africa,132,0.004273,130,0.004321,120,0.004694,123,0.004503,...,133,0.004862,139,0.004837,141,0.004615,130,0.004991,117,0.005401
160,South Korea,Asia-Pacific,157,0.002968,157,0.003112,155,0.003006,157,0.002774,...,162,0.003380,161,0.003492,161,0.003496,160,0.003540,161,0.003678
161,Seychelles,Sub-Saharan Africa,60,0.006072,68,0.005919,71,0.005889,73,0.005867,...,80,0.006206,81,0.006187,86,0.006097,88,0.006045,79,0.006158
162,Hong Kong,Asia-Pacific,99,0.005216,91,0.005474,32,0.006641,33,0.006688,...,36,0.007085,36,0.007080,37,0.007038,36,0.007240,27,0.007516

In [348]:
#apply built-in decision matrix function to create decision matrix object for access 2021 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access21_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access21_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access21_dmt=scaler.transform(access21_dmt)


#convert decision matrix to dataframe
access21_copy = access_2021.copy()

 
#WSM method
access21_wsm_dec = simple.WeightedSumModel()
access21_wsm_rank = access21_wsm_dec.evaluate(access21_dmt)
access21_copy.loc[:, '2021_rank_weightedSum']=access21_wsm_rank.rank_
access21_copy.loc[:,'2021_score_weightedSum']= access21_wsm_rank.e_.score

access21_df = access21_copy.reset_index(drop=True)
access21 = access21_df[['country','area_group','2021_rank_weightedSum','2021_score_weightedSum']]
access21

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum
0,Albania,Eastern Europe,98,0.005694
1,Algeria,Middle East and North Africa,106,0.005282
2,Angola,Sub-Saharan Africa,141,0.003637
3,Argentina,Latin America and the Caribbean,89,0.006117
4,Armenia,Eastern Europe,67,0.006710
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,59,0.006955
162,Belize,Latin America and the Caribbean,101,0.005493
163,Hong Kong,Asia-Pacific,2,0.009309
164,Afghanistan,Asia-Pacific,155,0.002966
165,Venezuela,Latin America and the Caribbean,134,0.004000

In [349]:
#apply built-in decision matrix function to create decision matrix object for access 2020 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access20_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access20_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access20_dmt=scaler.transform(access20_dmt)


#convert decision matrix to dataframe
access20_copy = access_2020.copy()

 
#WSM method
access20_wsm_dec = simple.WeightedSumModel()
access20_wsm_rank = access20_wsm_dec.evaluate(access20_dmt)
access20_copy.loc[:, '2020_rank_weightedSum']=access20_wsm_rank.rank_
access20_copy.loc[:,'2020_score_weightedSum']= access20_wsm_rank.e_.score

access20_df = access20_copy.reset_index(drop=True)
access20 = access20_df[['country','area_group','2020_rank_weightedSum','2020_score_weightedSum']]
access20

,country,area_group,2020_rank_weightedSum,2020_score_weightedSum
0,Albania,Eastern Europe,95,0.005731
1,Algeria,Middle East and North Africa,110,0.005121
2,Angola,Sub-Saharan Africa,136,0.003724
3,Argentina,Latin America and the Caribbean,80,0.006379
4,Armenia,Eastern Europe,83,0.006244
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,51,0.007202
162,Belize,Latin America and the Caribbean,97,0.005588
163,Hong Kong,Asia-Pacific,4,0.009320
164,Afghanistan,Asia-Pacific,156,0.002846
165,Venezuela,Latin America and the Caribbean,131,0.004020

In [350]:
#apply built-in decision matrix function to create decision matrix object for access 2019 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access19_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access19_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access19_dmt=scaler.transform(access19_dmt)


#convert decision matrix to dataframe
access19_copy = access_2019.copy()

 
#WSM method
access19_wsm_dec = simple.WeightedSumModel()
access19_wsm_rank = access19_wsm_dec.evaluate(access19_dmt)
access19_copy.loc[:, '2019_rank_weightedSum']=access19_wsm_rank.rank_
access19_copy.loc[:,'2019_score_weightedSum']= access19_wsm_rank.e_.score

access19_df = access19_copy.reset_index(drop=True)
access19 = access19_df[['country','area_group','2019_rank_weightedSum','2019_score_weightedSum']]
access19

,country,area_group,2019_rank_weightedSum,2019_score_weightedSum
0,Albania,Eastern Europe,97,0.005380
1,Algeria,Middle East and North Africa,99,0.005370
2,Angola,Sub-Saharan Africa,134,0.003957
3,Argentina,Latin America and the Caribbean,87,0.006242
4,Armenia,Eastern Europe,86,0.006253
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,50,0.007302
162,Belize,Latin America and the Caribbean,96,0.005561
163,Hong Kong,Asia-Pacific,2,0.009671
164,Afghanistan,Asia-Pacific,155,0.002812
165,Venezuela,Latin America and the Caribbean,136,0.003838

In [351]:
#apply built-in decision matrix function to create decision matrix object for access 2018 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access18_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access18_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access18_dmt=scaler.transform(access18_dmt)


#convert decision matrix to dataframe
access18_copy = access_2018.copy()

 
#WSM method
access18_wsm_dec = simple.WeightedSumModel()
access18_wsm_rank = access18_wsm_dec.evaluate(access18_dmt)
access18_copy.loc[:, '2018_rank_weightedSum']=access18_wsm_rank.rank_
access18_copy.loc[:,'2018_score_weightedSum']= access18_wsm_rank.e_.score

access18_df = access18_copy.reset_index(drop=True)
access18 = access18_df[['country','area_group','2018_rank_weightedSum','2018_score_weightedSum']]
access18

,country,area_group,2018_rank_weightedSum,2018_score_weightedSum
0,Albania,Eastern Europe,99,0.005393
1,Algeria,Middle East and North Africa,95,0.005560
2,Angola,Sub-Saharan Africa,141,0.003272
3,Argentina,Latin America and the Caribbean,80,0.006297
4,Armenia,Eastern Europe,74,0.006429
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,51,0.007401
162,Belize,Latin America and the Caribbean,98,0.005437
163,Hong Kong,Asia-Pacific,2,0.009847
164,Afghanistan,Asia-Pacific,153,0.002830
165,Venezuela,Latin America and the Caribbean,127,0.004137

In [352]:
#apply built-in decision matrix function to create decision matrix object for access 2017 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access17_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access17_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access17_dmt=scaler.transform(access17_dmt)


#convert decision matrix to dataframe
access17_copy = access_2017.copy()

 
#WSM method
access17_wsm_dec = simple.WeightedSumModel()
access17_wsm_rank = access17_wsm_dec.evaluate(access17_dmt)
access17_copy.loc[:, '2017_rank_weightedSum']=access17_wsm_rank.rank_
access17_copy.loc[:,'2017_score_weightedSum']= access17_wsm_rank.e_.score

access17_df = access17_copy.reset_index(drop=True)
access17 = access17_df[['country','area_group','2017_rank_weightedSum','2017_score_weightedSum']]
access17

,country,area_group,2017_rank_weightedSum,2017_score_weightedSum
0,Albania,Eastern Europe,102,0.005092
1,Algeria,Middle East and North Africa,97,0.005413
2,Angola,Sub-Saharan Africa,141,0.003189
3,Argentina,Latin America and the Caribbean,83,0.006302
4,Armenia,Eastern Europe,71,0.006572
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,56,0.007055
162,Belize,Latin America and the Caribbean,96,0.005429
163,Hong Kong,Asia-Pacific,2,0.010096
164,Afghanistan,Asia-Pacific,145,0.003010
165,Venezuela,Latin America and the Caribbean,119,0.004430

In [353]:
#apply built-in decision matrix function to create decision matrix object for access 2016 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access16_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access16_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access16_dmt=scaler.transform(access16_dmt)


#convert decision matrix to dataframe
access16_copy = access_2016.copy()

 
#WSM method
access16_wsm_dec = simple.WeightedSumModel()
access16_wsm_rank = access16_wsm_dec.evaluate(access16_dmt)
access16_copy.loc[:, '2016_rank_weightedSum']=access16_wsm_rank.rank_
access16_copy.loc[:,'2016_score_weightedSum']= access16_wsm_rank.e_.score

access16_df = access16_copy.reset_index(drop=True)
access16 = access16_df[['country','area_group','2016_rank_weightedSum','2016_score_weightedSum']]
access16

,country,area_group,2016_rank_weightedSum,2016_score_weightedSum
0,Albania,Eastern Europe,105,0.004993
1,Algeria,Middle East and North Africa,92,0.005806
2,Angola,Sub-Saharan Africa,143,0.003097
3,Argentina,Latin America and the Caribbean,75,0.006428
4,Armenia,Eastern Europe,80,0.006269
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,54,0.007224
162,Belize,Latin America and the Caribbean,97,0.005433
163,Hong Kong,Asia-Pacific,2,0.010340
164,Afghanistan,Asia-Pacific,151,0.002793
165,Venezuela,Latin America and the Caribbean,123,0.004208

In [354]:
#apply built-in decision matrix function to create decision matrix object for access 2015 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access15_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access15_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access15_dmt=scaler.transform(access15_dmt)


#convert decision matrix to dataframe
access15_copy = access_2015.copy()

 
#WSM method
access15_wsm_dec = simple.WeightedSumModel()
access15_wsm_rank = access15_wsm_dec.evaluate(access15_dmt)
access15_copy.loc[:, '2015_rank_weightedSum']=access15_wsm_rank.rank_
access15_copy.loc[:,'2015_score_weightedSum']= access15_wsm_rank.e_.score

access15_df = access15_copy.reset_index(drop=True)
access15 = access15_df[['country','area_group','2015_rank_weightedSum','2015_score_weightedSum']]
access15

,country,area_group,2015_rank_weightedSum,2015_score_weightedSum
0,Albania,Eastern Europe,104,0.004998
1,Algeria,Middle East and North Africa,89,0.005846
2,Angola,Sub-Saharan Africa,142,0.003105
3,Argentina,Latin America and the Caribbean,73,0.006428
4,Armenia,Eastern Europe,74,0.006399
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,49,0.007495
162,Belize,Latin America and the Caribbean,97,0.005467
163,Hong Kong,Asia-Pacific,2,0.010399
164,Afghanistan,Asia-Pacific,149,0.002894
165,Venezuela,Latin America and the Caribbean,119,0.004379

In [355]:
#apply built-in decision matrix function to create decision matrix object for access 2014 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access14_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access14_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access14_dmt=scaler.transform(access14_dmt)


#convert decision matrix to dataframe
access14_copy = access_2014.copy()

 
#WSM method
access14_wsm_dec = simple.WeightedSumModel()
access14_wsm_rank = access14_wsm_dec.evaluate(access14_dmt)
access14_copy.loc[:, '2014_rank_weightedSum']=access14_wsm_rank.rank_
access14_copy.loc[:,'2014_score_weightedSum']= access14_wsm_rank.e_.score

access14_df = access14_copy.reset_index(drop=True)
access14 = access14_df[['country','area_group','2014_rank_weightedSum','2014_score_weightedSum']]
access14

,country,area_group,2014_rank_weightedSum,2014_score_weightedSum
0,Albania,Eastern Europe,108,0.004845
1,Algeria,Middle East and North Africa,90,0.005817
2,Angola,Sub-Saharan Africa,141,0.003209
3,Argentina,Latin America and the Caribbean,79,0.006216
4,Armenia,Eastern Europe,75,0.006366
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,49,0.007524
162,Belize,Latin America and the Caribbean,99,0.005277
163,Hong Kong,Asia-Pacific,2,0.010382
164,Afghanistan,Asia-Pacific,154,0.002688
165,Venezuela,Latin America and the Caribbean,114,0.004659

In [356]:
#apply built-in decision matrix function to create decision matrix object for access 2013 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access13_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access13_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access13_dmt=scaler.transform(access13_dmt)


#convert decision matrix to dataframe
access13_copy = access_2013.copy()

 
#WSM method
access13_wsm_dec = simple.WeightedSumModel()
access13_wsm_rank = access13_wsm_dec.evaluate(access13_dmt)
access13_copy.loc[:, '2013_rank_weightedSum']=access13_wsm_rank.rank_
access13_copy.loc[:,'2013_score_weightedSum']= access13_wsm_rank.e_.score

access13_df = access13_copy.reset_index(drop=True)
access13 = access13_df[['country', 'area_group','2013_rank_weightedSum','2013_score_weightedSum']]
access13

,country,area_group,2013_rank_weightedSum,2013_score_weightedSum
0,Albania,Eastern Europe,102,0.005164
1,Algeria,Middle East and North Africa,90,0.005794
2,Angola,Sub-Saharan Africa,142,0.003220
3,Argentina,Latin America and the Caribbean,76,0.006251
4,Armenia,Eastern Europe,73,0.006463
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,50,0.007503
162,Belize,Latin America and the Caribbean,97,0.005278
163,Hong Kong,Asia-Pacific,2,0.010364
164,Afghanistan,Asia-Pacific,145,0.002899
165,Venezuela,Latin America and the Caribbean,109,0.004825

In [357]:
#apply built-in decision matrix function to create decision matrix object for access 2012 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access12_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access12_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access12_dmt=scaler.transform(access12_dmt)


#convert decision matrix to dataframe
access12_copy = access_2012.copy()

 
#WSM method
access12_wsm_dec = simple.WeightedSumModel()
access12_wsm_rank = access12_wsm_dec.evaluate(access12_dmt)
access12_copy.loc[:, '2012_rank_weightedSum']=access12_wsm_rank.rank_
access12_copy.loc[:,'2012_score_weightedSum']= access12_wsm_rank.e_.score

access12_df = access12_copy.reset_index(drop=True)
access12 = access12_df[['country','area_group','2012_rank_weightedSum','2012_score_weightedSum']]
access12

,country,area_group,2012_rank_weightedSum,2012_score_weightedSum
0,Albania,Eastern Europe,99,0.005261
1,Algeria,Middle East and North Africa,94,0.005726
2,Angola,Sub-Saharan Africa,141,0.003188
3,Argentina,Latin America and the Caribbean,75,0.006382
4,Armenia,Eastern Europe,76,0.006380
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,51,0.007509
162,Belize,Latin America and the Caribbean,97,0.005295
163,Hong Kong,Asia-Pacific,2,0.010476
164,Afghanistan,Asia-Pacific,154,0.002642
165,Venezuela,Latin America and the Caribbean,108,0.004862

In [358]:
#apply built-in decision matrix function to create decision matrix object for access 2011 index
#166 alternatives x 7 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix =access11_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.15, 0.10, .15, 0.15, 0.15, .15, 0.15], #apply weights
    alternatives = alt_access, #safety index alternatives
    criteria=['network_coverage', 'bank_branches', 'international_internet_bandwidth', 'reliable_electricity','reliability_water_supply',
            'satisfaction_with_public_transportation', 'digital_payments'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access11_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access11_dmt=scaler.transform(access11_dmt)


#convert decision matrix to dataframe
access11_copy = access_2011.copy()

 
#WSM method
access11_wsm_dec = simple.WeightedSumModel()
access11_wsm_rank = access11_wsm_dec.evaluate(access11_dmt)
access11_copy.loc[:, '2011_rank_weightedSum']=access11_wsm_rank.rank_
access11_copy.loc[:,'2011_score_weightedSum']= access11_wsm_rank.e_.score

access11_df = access11_copy.reset_index(drop=True)
access11 = access11_df[['country', 'area_group','2011_rank_weightedSum','2011_score_weightedSum']]
access11

,country,area_group,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,100,0.005192
1,Algeria,Middle East and North Africa,94,0.005714
2,Angola,Sub-Saharan Africa,142,0.003107
3,Argentina,Latin America and the Caribbean,75,0.006406
4,Armenia,Eastern Europe,71,0.006467
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,52,0.007496
162,Belize,Latin America and the Caribbean,97,0.005299
163,Hong Kong,Asia-Pacific,2,0.010451
164,Afghanistan,Asia-Pacific,146,0.002814
165,Venezuela,Latin America and the Caribbean,111,0.004863

In [359]:
#need to mere all new dataframes
#use reduce and merge to merge all df at once

#import functools for reduce()
from functools import reduce

#initialize list of dataframes
dfs5 = [access21, access20, access19, access18, access17, access16, access15, access14, access13, access12, access11]

#merge all dataframes
access_df_final = reduce(lambda left, right: pd.merge(left, right, on=['country', 'area_group']), dfs5)
access_df_final

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum,2020_rank_weightedSum,2020_score_weightedSum,2019_rank_weightedSum,2019_score_weightedSum,2018_rank_weightedSum,2018_score_weightedSum,...,2015_rank_weightedSum,2015_score_weightedSum,2014_rank_weightedSum,2014_score_weightedSum,2013_rank_weightedSum,2013_score_weightedSum,2012_rank_weightedSum,2012_score_weightedSum,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,98,0.005694,95,0.005731,97,0.005380,99,0.005393,...,104,0.004998,108,0.004845,102,0.005164,99,0.005261,100,0.005192
1,Algeria,Middle East and North Africa,106,0.005282,110,0.005121,99,0.005370,95,0.005560,...,89,0.005846,90,0.005817,90,0.005794,94,0.005726,94,0.005714
2,Angola,Sub-Saharan Africa,141,0.003637,136,0.003724,134,0.003957,141,0.003272,...,142,0.003105,141,0.003209,142,0.003220,141,0.003188,142,0.003107
3,Argentina,Latin America and the Caribbean,89,0.006117,80,0.006379,87,0.006242,80,0.006297,...,73,0.006428,79,0.006216,76,0.006251,75,0.006382,75,0.006406
4,Armenia,Eastern Europe,67,0.006710,83,0.006244,86,0.006253,74,0.006429,...,74,0.006399,75,0.006366,73,0.006463,76,0.006380,71,0.006467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,59,0.006955,51,0.007202,50,0.007302,51,0.007401,...,49,0.007495,49,0.007524,50,0.007503,51,0.007509,52,0.007496
162,Belize,Latin America and the Caribbean,101,0.005493,97,0.005588,96,0.005561,98,0.005437,...,97,0.005467,99,0.005277,97,0.005278,97,0.005295,97,0.005299
163,Hong Kong,Asia-Pacific,2,0.009309,4,0.009320,2,0.009671,2,0.009847,...,2,0.010399,2,0.010382,2,0.010364,2,0.010476,2,0.010451
164,Afghanistan,Asia-Pacific,155,0.002966,156,0.002846,155,0.002812,153,0.002830,...,149,0.002894,154,0.002688,145,0.002899,154,0.002642,146,0.002814
165,Venezuela,Latin America and the Caribbean,134,0.004000,131,0.004020,136,0.003838,127,0.004137,...,119,0.004379,114,0.004659,109,0.004825,108,0.004862,111,0.004863

In [360]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2021 index
#129 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus21_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus21, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus21_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus21_dmt=scaler.transform(lgbtplus21_dmt)


#convert decision matrix to dataframe
lgbtplus21_copy = lgbtplus_2021.copy()

 
#WSM method
lgbtplus21_wsm_dec = simple.WeightedSumModel()
lgbtplus21_wsm_rank = lgbtplus21_wsm_dec.evaluate(lgbtplus21_dmt)
lgbtplus21_copy.loc[:, '2021_rank_weightedSum']=lgbtplus21_wsm_rank.rank_
lgbtplus21_copy.loc[:,'2021_score_weightedSum']= lgbtplus21_wsm_rank.e_.score

lgbtplus21_df = lgbtplus21_copy.reset_index(drop=True)
lgbtplus21 = lgbtplus21_df[['country', 'area_group','2021_rank_weightedSum','2021_score_weightedSum']]
lgbtplus21

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum
0,Albania,Eastern Europe,81,0.005653
1,Argentina,Latin America and the Caribbean,20,0.013537
2,Armenia,Eastern Europe,92,0.005143
3,Australia,Asia-Pacific,16,0.014254
4,Austria,Western Europe,17,0.014135
...,...,...,...,...
124,Uruguay,Latin America and the Caribbean,5,0.015177
125,Vietnam,Asia-Pacific,47,0.008022
126,Zambia,Sub-Saharan Africa,119,0.003179
127,Zimbabwe,Sub-Saharan Africa,125,0.002293
128,Hong Kong,Asia-Pacific,36,0.009917

In [361]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2020 index
#129 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus20_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus21, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus20_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus20_dmt=scaler.transform(lgbtplus20_dmt)


#convert decision matrix to dataframe
lgbtplus20_copy = lgbtplus_2020.copy()

 
#WSM method
lgbtplus20_wsm_dec = simple.WeightedSumModel()
lgbtplus20_wsm_rank = lgbtplus20_wsm_dec.evaluate(lgbtplus20_dmt)
lgbtplus20_copy.loc[:, '2020_rank_weightedSum']=lgbtplus20_wsm_rank.rank_
lgbtplus20_copy.loc[:,'2020_score_weightedSum']= lgbtplus20_wsm_rank.e_.score

lgbtplus20_df = lgbtplus20_copy.reset_index(drop=True)
lgbtplus20 = lgbtplus20_df[['country', 'area_group','2020_rank_weightedSum','2020_score_weightedSum']]
lgbtplus20

,country,area_group,2020_rank_weightedSum,2020_score_weightedSum
0,Albania,Eastern Europe,85,0.005322
1,Argentina,Latin America and the Caribbean,21,0.013554
2,Armenia,Eastern Europe,88,0.005202
3,Australia,Asia-Pacific,16,0.014854
4,Austria,Western Europe,17,0.014301
...,...,...,...,...
124,Uruguay,Latin America and the Caribbean,12,0.015287
125,Vietnam,Asia-Pacific,47,0.007646
126,Zambia,Sub-Saharan Africa,122,0.002507
127,Zimbabwe,Sub-Saharan Africa,126,0.002277
128,Hong Kong,Asia-Pacific,35,0.010085

In [362]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2019 index
#129 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus19_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus21, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus19_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus19_dmt=scaler.transform(lgbtplus19_dmt)


#convert decision matrix to dataframe
lgbtplus19_copy = lgbtplus_2019.copy()

 
#WSM method
lgbtplus19_wsm_dec = simple.WeightedSumModel()
lgbtplus19_wsm_rank = lgbtplus19_wsm_dec.evaluate(lgbtplus19_dmt)
lgbtplus19_copy.loc[:, '2019_rank_weightedSum']=lgbtplus19_wsm_rank.rank_
lgbtplus19_copy.loc[:,'2019_score_weightedSum']= lgbtplus19_wsm_rank.e_.score

lgbtplus19_df = lgbtplus19_copy.reset_index(drop=True)
lgbtplus19 = lgbtplus19_df[['country','area_group','2019_rank_weightedSum','2019_score_weightedSum']]
lgbtplus19

,country,area_group,2019_rank_weightedSum,2019_score_weightedSum
0,Albania,Eastern Europe,82,0.005443
1,Argentina,Latin America and the Caribbean,16,0.014189
2,Armenia,Eastern Europe,84,0.005251
3,Australia,Asia-Pacific,22,0.013310
4,Austria,Western Europe,24,0.013085
...,...,...,...,...
124,Uruguay,Latin America and the Caribbean,13,0.015378
125,Vietnam,Asia-Pacific,48,0.007287
126,Zambia,Sub-Saharan Africa,119,0.002924
127,Zimbabwe,Sub-Saharan Africa,125,0.002077
128,Hong Kong,Asia-Pacific,33,0.010419

In [363]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2018 index
#129 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus18_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus21, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus18_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus18_dmt=scaler.transform(lgbtplus18_dmt)


#convert decision matrix to dataframe
lgbtplus18_copy = lgbtplus_2018.copy()

 
#WSM method
lgbtplus18_wsm_dec = simple.WeightedSumModel()
lgbtplus18_wsm_rank = lgbtplus18_wsm_dec.evaluate(lgbtplus18_dmt)
lgbtplus18_copy.loc[:, '2018_rank_weightedSum']=lgbtplus18_wsm_rank.rank_
lgbtplus18_copy.loc[:,'2018_score_weightedSum']= lgbtplus18_wsm_rank.e_.score

lgbtplus18_df = lgbtplus18_copy.reset_index(drop=True)
lgbtplus18 = lgbtplus18_df[['country','area_group','2018_rank_weightedSum','2018_score_weightedSum']]
lgbtplus18

,country,area_group,2018_rank_weightedSum,2018_score_weightedSum
0,Albania,Eastern Europe,78,0.005628
1,Argentina,Latin America and the Caribbean,17,0.013999
2,Armenia,Eastern Europe,83,0.005392
3,Australia,Asia-Pacific,23,0.013083
4,Austria,Western Europe,24,0.013015
...,...,...,...,...
124,Uruguay,Latin America and the Caribbean,8,0.016311
125,Vietnam,Asia-Pacific,54,0.007063
126,Zambia,Sub-Saharan Africa,119,0.002961
127,Zimbabwe,Sub-Saharan Africa,127,0.001675
128,Hong Kong,Asia-Pacific,33,0.010565

In [364]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2017 index
#129 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus17_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus17, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus17_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus17_dmt=scaler.transform(lgbtplus17_dmt)


#convert decision matrix to dataframe
lgbtplus17_copy = lgbtplus_2017.copy()

 
#WSM method
lgbtplus17_wsm_dec = simple.WeightedSumModel()
lgbtplus17_wsm_rank = lgbtplus17_wsm_dec.evaluate(lgbtplus17_dmt)
lgbtplus17_copy.loc[:, '2017_rank_weightedSum']=lgbtplus17_wsm_rank.rank_
lgbtplus17_copy.loc[:,'2017_score_weightedSum']= lgbtplus17_wsm_rank.e_.score

lgbtplus17_df = lgbtplus17_copy.reset_index(drop=True)
lgbtplus17 = lgbtplus17_df[['country','area_group','2017_rank_weightedSum','2017_score_weightedSum']]
lgbtplus17

,country,area_group,2017_rank_weightedSum,2017_score_weightedSum
0,Albania,Eastern Europe,75,0.005539
1,Argentina,Latin America and the Caribbean,18,0.014231
2,Armenia,Eastern Europe,86,0.005200
3,Australia,Asia-Pacific,24,0.013232
4,Austria,Western Europe,23,0.013432
...,...,...,...,...
123,Uruguay,Latin America and the Caribbean,10,0.016249
124,Vietnam,Asia-Pacific,62,0.006803
125,Zambia,Sub-Saharan Africa,114,0.003087
126,Zimbabwe,Sub-Saharan Africa,124,0.001930
127,Hong Kong,Asia-Pacific,33,0.010966

In [365]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2016 index
#129 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus16_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus17, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus16_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus16_dmt=scaler.transform(lgbtplus16_dmt)


#convert decision matrix to dataframe
lgbtplus16_copy = lgbtplus_2016.copy()

 
#WSM method
lgbtplus16_wsm_dec = simple.WeightedSumModel()
lgbtplus16_wsm_rank = lgbtplus16_wsm_dec.evaluate(lgbtplus16_dmt)
lgbtplus16_copy.loc[:, '2016_rank_weightedSum']=lgbtplus16_wsm_rank.rank_
lgbtplus16_copy.loc[:,'2016_score_weightedSum']= lgbtplus16_wsm_rank.e_.score

lgbtplus16_df = lgbtplus16_copy.reset_index(drop=True)
lgbtplus16 = lgbtplus16_df[['country','area_group','2016_rank_weightedSum','2016_score_weightedSum']]
lgbtplus16

,country,area_group,2016_rank_weightedSum,2016_score_weightedSum
0,Albania,Eastern Europe,75,0.005707
1,Argentina,Latin America and the Caribbean,17,0.014361
2,Armenia,Eastern Europe,84,0.005175
3,Australia,Asia-Pacific,24,0.013276
4,Austria,Western Europe,23,0.013531
...,...,...,...,...
123,Uruguay,Latin America and the Caribbean,10,0.016344
124,Vietnam,Asia-Pacific,48,0.007818
125,Zambia,Sub-Saharan Africa,123,0.002227
126,Zimbabwe,Sub-Saharan Africa,122,0.002249
127,Hong Kong,Asia-Pacific,29,0.011604

In [366]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2015 index
#129 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus15_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus15, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus15_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus15_dmt=scaler.transform(lgbtplus15_dmt)


#convert decision matrix to dataframe
lgbtplus15_copy = lgbtplus_2015.copy()

 
#WSM method
lgbtplus15_wsm_dec = simple.WeightedSumModel()
lgbtplus15_wsm_rank = lgbtplus15_wsm_dec.evaluate(lgbtplus15_dmt)
lgbtplus15_copy.loc[:, '2015_rank_weightedSum']=lgbtplus15_wsm_rank.rank_
lgbtplus15_copy.loc[:,'2015_score_weightedSum']= lgbtplus15_wsm_rank.e_.score

lgbtplus15_df = lgbtplus15_copy.reset_index(drop=True)
lgbtplus15 = lgbtplus15_df[['country','area_group','2015_rank_weightedSum','2015_score_weightedSum']]
lgbtplus15

,country,area_group,2015_rank_weightedSum,2015_score_weightedSum
0,Albania,Eastern Europe,76,0.005799
1,Angola,Sub-Saharan Africa,110,0.003549
2,Argentina,Latin America and the Caribbean,14,0.014539
3,Armenia,Eastern Europe,85,0.005441
4,Australia,Asia-Pacific,20,0.012787
...,...,...,...,...
125,Vietnam,Asia-Pacific,48,0.007959
126,Zambia,Sub-Saharan Africa,121,0.002580
127,Zimbabwe,Sub-Saharan Africa,125,0.002019
128,Belize,Latin America and the Caribbean,84,0.005445
129,Hong Kong,Asia-Pacific,30,0.011042

In [367]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2014 index
#132 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus14_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus14, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus14_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus14_dmt=scaler.transform(lgbtplus14_dmt)


#convert decision matrix to dataframe
lgbtplus14_copy = lgbtplus_2014.copy()

 
#WSM method
lgbtplus14_wsm_dec = simple.WeightedSumModel()
lgbtplus14_wsm_rank = lgbtplus14_wsm_dec.evaluate(lgbtplus14_dmt)
lgbtplus14_copy.loc[:, '2014_rank_weightedSum']=lgbtplus14_wsm_rank.rank_
lgbtplus14_copy.loc[:,'2014_score_weightedSum']= lgbtplus14_wsm_rank.e_.score

lgbtplus14_df = lgbtplus14_copy.reset_index(drop=True)
lgbtplus14 = lgbtplus14_df[['country','area_group','2014_rank_weightedSum','2014_score_weightedSum']]
lgbtplus14

,country,area_group,2014_rank_weightedSum,2014_score_weightedSum
0,Albania,Eastern Europe,90,0.005276
1,Angola,Sub-Saharan Africa,103,0.003904
2,Argentina,Latin America and the Caribbean,11,0.015305
3,Armenia,Eastern Europe,86,0.005437
4,Australia,Asia-Pacific,18,0.013133
...,...,...,...,...
127,Vietnam,Asia-Pacific,53,0.007448
128,Zambia,Sub-Saharan Africa,125,0.002467
129,Zimbabwe,Sub-Saharan Africa,127,0.002100
130,Belize,Latin America and the Caribbean,84,0.005573
131,Hong Kong,Asia-Pacific,27,0.011333

In [368]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2013 index
#135 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus13_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus13, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus13_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus13_dmt=scaler.transform(lgbtplus13_dmt)


#convert decision matrix to dataframe
lgbtplus13_copy = lgbtplus_2013.copy()

 
#WSM method
lgbtplus13_wsm_dec = simple.WeightedSumModel()
lgbtplus13_wsm_rank = lgbtplus13_wsm_dec.evaluate(lgbtplus13_dmt)
lgbtplus13_copy.loc[:, '2013_rank_weightedSum']=lgbtplus13_wsm_rank.rank_
lgbtplus13_copy.loc[:,'2013_score_weightedSum']= lgbtplus13_wsm_rank.e_.score

lgbtplus13_df = lgbtplus13_copy.reset_index(drop=True)
lgbtplus13 = lgbtplus13_df[['country','area_group','2013_rank_weightedSum','2013_score_weightedSum']]
lgbtplus13

,country,area_group,2013_rank_weightedSum,2013_score_weightedSum
0,Albania,Eastern Europe,73,0.006029
1,Algeria,Middle East and North Africa,97,0.004858
2,Angola,Sub-Saharan Africa,103,0.003930
3,Argentina,Latin America and the Caribbean,9,0.015217
4,Armenia,Eastern Europe,89,0.005404
...,...,...,...,...
130,Vietnam,Asia-Pacific,62,0.007085
131,Zambia,Sub-Saharan Africa,131,0.002041
132,Zimbabwe,Sub-Saharan Africa,130,0.002222
133,Belize,Latin America and the Caribbean,84,0.005593
134,Hong Kong,Asia-Pacific,26,0.011298

In [369]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2012 index
#138 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus12_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus12, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus12_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus12_dmt=scaler.transform(lgbtplus12_dmt)


#convert decision matrix to dataframe
lgbtplus12_copy = lgbtplus_2012.copy()

 
#WSM method
lgbtplus12_wsm_dec = simple.WeightedSumModel()
lgbtplus12_wsm_rank = lgbtplus12_wsm_dec.evaluate(lgbtplus12_dmt)
lgbtplus12_copy.loc[:, '2012_rank_weightedSum']=lgbtplus12_wsm_rank.rank_
lgbtplus12_copy.loc[:,'2012_score_weightedSum']= lgbtplus12_wsm_rank.e_.score

lgbtplus12_df = lgbtplus12_copy.reset_index(drop=True)
lgbtplus12 = lgbtplus12_df[['country','area_group','2012_rank_weightedSum','2012_score_weightedSum']]
lgbtplus12

,country,area_group,2012_rank_weightedSum,2012_score_weightedSum
0,Albania,Eastern Europe,79,0.005699
1,Algeria,Middle East and North Africa,102,0.004476
2,Angola,Sub-Saharan Africa,113,0.003639
3,Argentina,Latin America and the Caribbean,9,0.015199
4,Armenia,Eastern Europe,87,0.005469
...,...,...,...,...
133,Vietnam,Asia-Pacific,62,0.006894
134,Zambia,Sub-Saharan Africa,130,0.002397
135,Zimbabwe,Sub-Saharan Africa,131,0.002343
136,Belize,Latin America and the Caribbean,84,0.005535
137,Hong Kong,Asia-Pacific,24,0.011353

In [370]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus 2011 index
#135 alternatives x 4 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus11_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.30, 0.30, .20, 0.20], #apply weights
    alternatives = alt_lgbtplus11, #safety index alternatives
    criteria=['acceptance_of_gays_and_lesbians', 'lgbt_rights', 'equal_treatment', 'nondiscriminatory_civil_justice'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus11_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus11_dmt=scaler.transform(lgbtplus11_dmt)


#convert decision matrix to dataframe
lgbtplus11_copy = lgbtplus_2011.copy()

 
#WSM method
lgbtplus11_wsm_dec = simple.WeightedSumModel()
lgbtplus11_wsm_rank = lgbtplus11_wsm_dec.evaluate(lgbtplus11_dmt)
lgbtplus11_copy.loc[:, '2011_rank_weightedSum']=lgbtplus11_wsm_rank.rank_
lgbtplus11_copy.loc[:,'2011_score_weightedSum']= lgbtplus11_wsm_rank.e_.score

lgbtplus11_df = lgbtplus11_copy.reset_index(drop=True)
lgbtplus11 = lgbtplus11_df[['country','area_group','2011_rank_weightedSum','2011_score_weightedSum']]
lgbtplus11

,country,area_group,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,76,0.005948
1,Algeria,Middle East and North Africa,102,0.004509
2,Angola,Sub-Saharan Africa,114,0.003670
3,Argentina,Latin America and the Caribbean,9,0.014888
4,Armenia,Eastern Europe,90,0.005305
...,...,...,...,...
134,Vietnam,Asia-Pacific,62,0.007157
135,Zambia,Sub-Saharan Africa,132,0.002257
136,Zimbabwe,Sub-Saharan Africa,134,0.002200
137,Belize,Latin America and the Caribbean,83,0.005540
138,Hong Kong,Asia-Pacific,26,0.011021

In [371]:
#need to mere all new dataframes
#use reduce and merge to merge all df at once

#import functools for reduce()
from functools import reduce

#initialize list of dataframes
dfs6 = [lgbtplus21, lgbtplus20, lgbtplus19, lgbtplus18, lgbtplus17, lgbtplus16, lgbtplus15, lgbtplus14, lgbtplus13, lgbtplus12, lgbtplus11]

#merge all dataframes
#dataframes are various lengths--add how and sort statements to merge statement
lgbtplus_df_final = reduce(lambda left, right: pd.merge(left, right, on=['country', 'area_group'], how='outer', sort=True), dfs6)
lgbtplus_df_final

,country,area_group,2021_rank_weightedSum,2021_score_weightedSum,2020_rank_weightedSum,2020_score_weightedSum,2019_rank_weightedSum,2019_score_weightedSum,2018_rank_weightedSum,2018_score_weightedSum,...,2015_rank_weightedSum,2015_score_weightedSum,2014_rank_weightedSum,2014_score_weightedSum,2013_rank_weightedSum,2013_score_weightedSum,2012_rank_weightedSum,2012_score_weightedSum,2011_rank_weightedSum,2011_score_weightedSum
0,Albania,Eastern Europe,81.0,0.005653,85.0,0.005322,82.0,0.005443,78.0,0.005628,...,76.0,0.005799,90.0,0.005276,73.0,0.006029,79.0,0.005699,76.0,0.005948
1,Algeria,Middle East and North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,97.0,0.004858,102.0,0.004476,102.0,0.004509
2,Angola,Sub-Saharan Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,110.0,0.003549,103.0,0.003904,103.0,0.003930,113.0,0.003639,114.0,0.003670
3,Argentina,Latin America and the Caribbean,20.0,0.013537,21.0,0.013554,16.0,0.014189,17.0,0.013999,...,14.0,0.014539,11.0,0.015305,9.0,0.015217,9.0,0.015199,9.0,0.014888
4,Armenia,Eastern Europe,92.0,0.005143,88.0,0.005202,84.0,0.005251,83.0,0.005392,...,85.0,0.005441,86.0,0.005437,89.0,0.005404,87.0,0.005469,90.0,0.005305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,United States,North America,25.0,0.012398,22.0,0.012874,23.0,0.013192,20.0,0.013631,...,34.0,0.009980,32.0,0.010317,30.0,0.010355,30.0,0.010502,30.0,0.010142
136,Uruguay,Latin America and the Caribbean,5.0,0.015177,12.0,0.015287,13.0,0.015378,8.0,0.016311,...,7.0,0.016478,8.0,0.016444,21.0,0.012464,21.0,0.011961,20.0,0.011907
137,Vietnam,Asia-Pacific,47.0,0.008022,47.0,0.007646,48.0,0.007287,54.0,0.007063,...,48.0,0.007959,53.0,0.007448,62.0,0.007085,62.0,0.006894,62.0,0.007157
138,Zambia,Sub-Saharan Africa,119.0,0.003179,122.0,0.002507,119.0,0.002924,119.0,0.002961,...,121.0,0.002580,125.0,0.002467,131.0,0.002041,130.0,0.002397,132.0,0.002257
139,Zimbabwe,Sub-Saharan Africa,125.0,0.002293,126.0,0.002277,125.0,0.002077,127.0,0.001675,...,125.0,0.002019,127.0,0.002100,130.0,0.002222,131.0,0.002343,134.0,0.002200

In [376]:
#select subset of features for each year--create new dataframe, then convert to array for matrix
#create access matricies vectors for safety variables by converting to 2D array-like

safety_col_matrix = safety_df_final[['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
                                     '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
                                     '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum']]
safety_score_matrix = safety_col_matrix.values
women_col_matrix = women_df_final[['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
                                     '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
                                     '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum']]
women_score_matrix = women_col_matrix.values
race_col_matrix = race_df_final[['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
                                     '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
                                     '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum']]
race_score_matrix = race_col_matrix.values
social_col_matrix = social_df_final[['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
                                     '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
                                     '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum']]
social_score_matrix = social_col_matrix.values
access_col_matrix = access_df_final[['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
                                     '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
                                     '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum']]
access_score_matrix = access_col_matrix.values
lgbtplus_col_matrix = lgbtplus_df_final[['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
                                     '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
                                     '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum']]
lgbtplus_score_matrix = lgbtplus_col_matrix.values

In [377]:
#define alternatives for each safety index type
alt_safety_final = safety_df_final.country
alt_women_final = women_df_final.country
alt_race_final = race_df_final.country
alt_social_final = social_df_final.country
alt_access_final = access_df_final.country
alt_lgbtplus_final = lgbtplus_df_final.country

In [378]:
#create vector of criteria for each safety index type
# for maximization and minimization of the components of objective vector to scale between 0 and 1. This normalizes the values
#benefit- value/max value --maximize the benefit
#non-beneficial - minvalue/value --minimize the non-benefit

objectives_safety = [max, max, max, max, max, max, max, max, max, max, max]
objectives_women =[max, max, max, max, max, max, max, max, max, max, max]
objectives_race =[max, max, max, max, max, max, max, max, max, max, max]
objectives_social =[max, max, max, max, max, max, max, max, max, max, max]
objectives_access =[max, max, max, max, max, max, max, max, max, max, max]
objectives_lgbtplus =[max, max, max, max, max, max, max, max, max, max, max]

,country,area_group,rank_weightedSum,score_weightedSum
0,Albania,Eastern Europe,70,0.006434
1,Algeria,Middle East and North Africa,118,0.003524
2,Angola,Sub-Saharan Africa,94,0.005029
3,Argentina,Latin America and the Caribbean,44,0.008643
4,Armenia,Eastern Europe,77,0.006164
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,79,0.006093
162,Belize,Latin America and the Caribbean,63,0.006747
163,Hong Kong,Asia-Pacific,21,0.010629
164,Afghanistan,Asia-Pacific,154,0.001569
165,Venezuela,Latin America and the Caribbean,81,0.005889

In [384]:
#apply built-in decision matrix function to create decision matrix object for final safety index
#155 alternatives x 11 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = safety_score_matrix,
    objectives = objectives_safety, #direction of goodness for each column
    weights = [0.20, 0.20, .20, .10, .10, 0.05, 0.05, 0.025, 0.025, 0.025, 0.025], #apply weights
    alternatives = alt_safety_final, #safety index alternatives
    criteria=['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
              '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
              '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
safety_score_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
safety_dmt=scaler.transform(safety_score_dmt)


#convert decision matrix to dataframe
safety_df_final_copy = safety_df_final.copy()

 
#WSM method
safety_wsm_dec = simple.WeightedSumModel()
safety_wsm_rank = safety_wsm_dec.evaluate(safety_score_dmt)
safety_df_final_copy.loc[:, 'rank_weightedSum']=safety_wsm_rank.rank_
safety_df_final_copy.loc[:,'score_weightedSum']= safety_wsm_rank.e_.score

safety1_df = safety_df_final_copy.reset_index(drop=True)
safety_index = safety1_df[['country','area_group','rank_weightedSum','score_weightedSum']]
safety_index #dataframe 1/6

,country,area_group,rank_weightedSum,score_weightedSum
0,Albania,Eastern Europe,99,0.003066
1,Algeria,Middle East and North Africa,71,0.003690
2,Angola,Sub-Saharan Africa,105,0.003001
3,Argentina,Latin America and the Caribbean,122,0.002686
4,Armenia,Eastern Europe,56,0.004034
...,...,...,...,...
150,Vietnam,Asia-Pacific,28,0.005330
151,Yemen,Middle East and North Africa,155,NaN
152,Zambia,Sub-Saharan Africa,136,0.002468
153,Zimbabwe,Sub-Saharan Africa,139,0.002311
154,South Korea,Asia-Pacific,51,0.004235

In [385]:
#apply built-in decision matrix function to create decision matrix object for final women index
#166 alternatives x 11 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = women_score_matrix,
    objectives = objectives_women, #direction of goodness for each column
    weights = [0.20, 0.20, .20, .10, .10, 0.05, 0.05, 0.025, 0.025, 0.025, 0.025], #apply weights
    alternatives = alt_women_final, #women index alternatives
    criteria=['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
              '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
              '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
women_score_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
women_dmt=scaler.transform(women_score_dmt)


#convert decision matrix to dataframe
women_df_final_copy = women_df_final.copy()

 
#WSM method
women_wsm_dec = simple.WeightedSumModel()
women_wsm_rank = women_wsm_dec.evaluate(women_score_dmt)
women_df_final_copy.loc[:, 'rank_weightedSum']= women_wsm_rank.rank_
women_df_final_copy.loc[:,'score_weightedSum']= women_wsm_rank.e_.score

women1_df = women_df_final_copy.reset_index(drop=True)
women_index = women1_df[['country','area_group','rank_weightedSum','score_weightedSum']]
women_index #dataframe 2/6

,country,area_group,rank_weightedSum,score_weightedSum
0,Albania,Eastern Europe,70,0.006434
1,Algeria,Middle East and North Africa,118,0.003524
2,Angola,Sub-Saharan Africa,94,0.005029
3,Argentina,Latin America and the Caribbean,44,0.008643
4,Armenia,Eastern Europe,77,0.006164
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,79,0.006093
162,Belize,Latin America and the Caribbean,63,0.006747
163,Hong Kong,Asia-Pacific,21,0.010629
164,Afghanistan,Asia-Pacific,154,0.001569
165,Venezuela,Latin America and the Caribbean,81,0.005889

In [386]:
#apply built-in decision matrix function to create decision matrix object for final race index
#163 alternatives x 11 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = race_score_matrix,
    objectives = objectives_race, #direction of goodness for each column
    weights = [0.20, 0.20, .20, .10, .10, 0.05, 0.05, 0.025, 0.025, 0.025, 0.025], #apply weights
    alternatives = alt_race_final, #women index alternatives
    criteria=['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
              '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
              '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
race_score_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
race_dmt=scaler.transform(race_score_dmt)


#convert decision matrix to dataframe
race_df_final_copy = race_df_final.copy()

 
#WSM method
race_wsm_dec = simple.WeightedSumModel()
race_wsm_rank = race_wsm_dec.evaluate(race_score_dmt)
race_df_final_copy.loc[:, 'rank_weightedSum']= race_wsm_rank.rank_
race_df_final_copy.loc[:,'score_weightedSum']= race_wsm_rank.e_.score

race1_df = race_df_final_copy.reset_index(drop=True)
race_index = race1_df[['country','area_group','rank_weightedSum','score_weightedSum']]
race_index #dataframe 3/6

,country,area_group,rank_weightedSum,score_weightedSum
0,Albania,Eastern Europe,70,0.006244
1,Algeria,Middle East and North Africa,77,0.005994
2,Angola,Sub-Saharan Africa,107,0.004963
3,Argentina,Latin America and the Caribbean,34,0.007453
4,Armenia,Eastern Europe,76,0.006033
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,114,0.004772
159,Zimbabwe,Sub-Saharan Africa,142,0.003722
160,South Korea,Asia-Pacific,39,0.007213
161,Seychelles,Sub-Saharan Africa,54,0.006743
162,Belize,Latin America and the Caribbean,105,0.005018

In [387]:
#apply built-in decision matrix function to create decision matrix object for final social index
#163 alternatives x 11 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = social_score_matrix,
    objectives = objectives_social, #direction of goodness for each column
    weights = [0.20, 0.20, .20, .10, .10, 0.05, 0.05, 0.025, 0.025, 0.025, 0.025], #apply weights
    alternatives = alt_social_final, #women index alternatives
    criteria=['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
              '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
              '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
social_score_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
social_dmt=scaler.transform(social_score_dmt)


#convert decision matrix to dataframe
social_df_final_copy = social_df_final.copy()

 
#WSM method
social_wsm_dec = simple.WeightedSumModel()
social_wsm_rank = social_wsm_dec.evaluate(social_score_dmt)
social_df_final_copy.loc[:, 'rank_weightedSum']= social_wsm_rank.rank_
social_df_final_copy.loc[:,'score_weightedSum']= social_wsm_rank.e_.score

social1_df = social_df_final_copy.reset_index(drop=True)
social_index = social1_df[['country','area_group','rank_weightedSum','score_weightedSum']]
social_index #dataframe 4/6

,country,area_group,rank_weightedSum,score_weightedSum
0,Albania,Eastern Europe,56,0.006210
1,Algeria,Middle East and North Africa,135,0.004303
2,Angola,Sub-Saharan Africa,132,0.004484
3,Argentina,Latin America and the Caribbean,37,0.006647
4,Armenia,Eastern Europe,85,0.005811
...,...,...,...,...
158,Zambia,Sub-Saharan Africa,116,0.004999
159,Zimbabwe,Sub-Saharan Africa,128,0.004596
160,South Korea,Asia-Pacific,159,0.003143
161,Seychelles,Sub-Saharan Africa,75,0.006019
162,Hong Kong,Asia-Pacific,55,0.006248

In [388]:
#apply built-in decision matrix function to create decision matrix object for final access index
#166 alternatives x 11 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = access_score_matrix,
    objectives = objectives_access, #direction of goodness for each column
    weights = [0.20, 0.20, .20, .10, .10, 0.05, 0.05, 0.025, 0.025, 0.025, 0.025], #apply weights
    alternatives = alt_access_final, #women index alternatives
    criteria=['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
              '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
              '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
access_score_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
access_dmt=scaler.transform(access_score_dmt)


#convert decision matrix to dataframe
access_df_final_copy = access_df_final.copy()

 
#WSM method
access_wsm_dec = simple.WeightedSumModel()
access_wsm_rank = access_wsm_dec.evaluate(access_score_dmt)
access_df_final_copy.loc[:, 'rank_weightedSum']= access_wsm_rank.rank_
access_df_final_copy.loc[:,'score_weightedSum']= access_wsm_rank.e_.score

access1_df = access_df_final_copy.reset_index(drop=True)
access_index = access1_df[['country','area_group','rank_weightedSum','score_weightedSum']]
access_index #dataframe 5/6

,country,area_group,rank_weightedSum,score_weightedSum
0,Albania,Eastern Europe,97,0.005420
1,Algeria,Middle East and North Africa,98,0.005411
2,Angola,Sub-Saharan Africa,140,0.003538
3,Argentina,Latin America and the Caribbean,79,0.006282
4,Armenia,Eastern Europe,76,0.006417
...,...,...,...,...
161,Seychelles,Sub-Saharan Africa,52,0.007224
162,Belize,Latin America and the Caribbean,96,0.005489
163,Hong Kong,Asia-Pacific,2,0.009733
164,Afghanistan,Asia-Pacific,155,0.002869
165,Venezuela,Latin America and the Caribbean,127,0.004138

In [389]:
#apply built-in decision matrix function to create decision matrix object for lgbtplus access index
#140 alternatives x 11 criteria
#apply weights if applicable
dm = skc.mkdm(
    matrix = lgbtplus_score_matrix,
    objectives = objectives_lgbtplus, #direction of goodness for each column
    weights = [0.20, 0.20, .20, .10, .10, 0.05, 0.05, 0.025, 0.025, 0.025, 0.025], #apply weights
    alternatives = alt_lgbtplus_final, #women index alternatives
    criteria=['2021_score_weightedSum','2020_score_weightedSum','2019_score_weightedSum', '2018_score_weightedSum', 
              '2017_score_weightedSum','2016_score_weightedSum','2015_score_weightedSum','2014_score_weightedSum', 
              '2013_score_weightedSum','2012_score_weightedSum', '2011_score_weightedSum'] #feature/column name
)
dm

#Invert minimizing objects
#create transformer and store in inverter variable
#apply transformation by calling transform method of the transformer and pass as parameter in dm
inverter = invert_objectives.MinimizeToMaximize()
lgbtplus_score_dmt=inverter.transform(dm)

#scale values to normalize
#create transformer and store in inverter variable--scalers support target paramter- use both to normalize both matrix and weights
#apply transormation by calling transform method of transformer and pass as dmt
#save and overwrite variable dmt
scaler = scalers.SumScaler(target='both')
lgbtplus_dmt=scaler.transform(lgbtplus_score_dmt)


#convert decision matrix to dataframe
lgbtplus_df_final_copy = lgbtplus_df_final.copy()

 
#WSM method
lgbtplus_wsm_dec = simple.WeightedSumModel()
lgbtplus_wsm_rank = lgbtplus_wsm_dec.evaluate(lgbtplus_score_dmt)
lgbtplus_df_final_copy.loc[:, 'rank_weightedSum']= lgbtplus_wsm_rank.rank_
lgbtplus_df_final_copy.loc[:,'score_weightedSum']= lgbtplus_wsm_rank.e_.score

lgbtplus1_df = lgbtplus_df_final_copy.reset_index(drop=True)
lgbtplus_index = lgbtplus1_df[['country','area_group','rank_weightedSum','score_weightedSum']]
lgbtplus_index #dataframe 6/6

,country,area_group,rank_weightedSum,score_weightedSum
0,Albania,Eastern Europe,81,0.005550
1,Algeria,Middle East and North Africa,129,NaN
2,Angola,Sub-Saharan Africa,130,NaN
3,Argentina,Latin America and the Caribbean,18,0.014039
4,Armenia,Eastern Europe,88,0.005250
...,...,...,...,...
135,United States,North America,24,0.012622
136,Uruguay,Latin America and the Caribbean,10,0.015385
137,Vietnam,Asia-Pacific,48,0.007481
138,Zambia,Sub-Saharan Africa,120,0.002796
139,Zimbabwe,Sub-Saharan Africa,124,0.002125

In [390]:
#save 6 dataframes to csv files
safety_index.to_csv('safety_index.csv', index = False)
women_index.to_csv('women_index.csv', index = False)
race_index.to_csv('race_index.csv', index = False)
social_index.to_csv('social_index.csv', index = False)
access_index.to_csv('access_index.csv', index = False)
lgbtplus_index.to_csv('lgbtplus_index.csv', index = False)