In [1]:
#import pandas
import pandas as pd

In [2]:
#load the xlsx file and read in the 4th sheet
excel_data = pd.read_excel('LPI_Legatum_Prosperity_Index_Indicators_Sheet4.xlsx')

# convert into dataframe
df = pd.DataFrame(excel_data)

#view columns of initial df
df.columns

Index(['area_name', 'area_code', 'area_group', 'pillar_name', 'element_name',
       'indicator_name', 'rank_2007', 'rank_2008', 'rank_2009', 'rank_2010',
       'rank_2011', 'rank_2012', 'rank_2013', 'rank_2014', 'rank_2015',
       'rank_2016', 'rank_2017', 'rank_2018', 'rank_2019', 'rank_2020',
       'rank_2021', 'raw_value_2007', 'raw_value_2008', 'raw_value_2009',
       'raw_value_2010', 'raw_value_2011', 'raw_value_2012', 'raw_value_2013',
       'raw_value_2014', 'raw_value_2015', 'raw_value_2016', 'raw_value_2017',
       'raw_value_2018', 'raw_value_2019', 'raw_value_2020', 'raw_value_2021',
       'score_2007', 'score_2008', 'score_2009', 'score_2010', 'score_2011',
       'score_2012', 'score_2013', 'score_2014', 'score_2015', 'score_2016',
       'score_2017', 'score_2018', 'score_2019', 'score_2020', 'score_2021'],
      dtype='object')

In [3]:
#number of rows and columns in initial df
df.shape

(49913, 51)

In [4]:
#view first 10 rows of initial df
df.head(10)

,area_name,area_code,area_group,pillar_name,element_name,indicator_name,rank_2007,rank_2008,rank_2009,rank_2010,...,score_2012,score_2013,score_2014,score_2015,score_2016,score_2017,score_2018,score_2019,score_2020,score_2021
0,Afghanistan,AFG,Asia-Pacific,Safety and Security,War and Civil Conflict,Two-sided conflict deaths,164,165,167,166,...,0.008331,0.009337,0.001726,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Afghanistan,AFG,Asia-Pacific,Safety and Security,War and Civil Conflict,Civil and ethnic war,157,157,158,157,...,0.428571,0.428571,0.428571,0.428571,0.428571,0.428571,0.428571,0.428571,0.428571,0.428571
2,Afghanistan,AFG,Asia-Pacific,Safety and Security,War and Civil Conflict,Conflict-driven internal displacement,1,1,1,148,...,0.313431,0.309492,0.294215,0.279217,0.254464,0.236465,0.251760,0.203235,0.194777,0.184293
3,Afghanistan,AFG,Asia-Pacific,Safety and Security,War and Civil Conflict,Refugees (origin country),167,167,167,167,...,0.088758,0.093870,0.097588,0.099037,0.099369,0.106697,0.104901,0.105090,0.105571,0.111406
4,Afghanistan,AFG,Asia-Pacific,Safety and Security,Terrorism,Terrorism deaths,165,166,166,164,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,Afghanistan,AFG,Asia-Pacific,Safety and Security,Terrorism,Terrorism injuries,165,165,164,165,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,Afghanistan,AFG,Asia-Pacific,Safety and Security,Terrorism,Terrorism incidents,165,166,166,166,...,0.064266,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,Afghanistan,AFG,Asia-Pacific,Safety and Security,Terrorism,Property cost of terrorism,1,1,161,165,...,0.230270,0.228989,0.259923,0.367718,0.106542,0.106542,0.106917,0.000000,0.000000,0.000000
8,Afghanistan,AFG,Asia-Pacific,Safety and Security,Politically Related Terror and Violence,Political terror,164,164,161,161,...,0.125000,0.000000,0.250000,0.000000,0.083333,0.083333,0.083333,0.000000,0.000000,0.000000
9,Afghanistan,AFG,Asia-Pacific,Safety and Security,Politically Related Terror and Violence,Extrajudicial killings,72,68,67,135,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000

In [5]:
#drop unnecessary columns
df = df.drop(columns = ['pillar_name', 'element_name','rank_2007','rank_2008', 'rank_2009', 'rank_2010','raw_value_2007', 'raw_value_2008', 'raw_value_2009',
       'raw_value_2010', 'raw_value_2011', 'raw_value_2012', 'raw_value_2013',
       'raw_value_2014', 'raw_value_2015', 'raw_value_2016', 'raw_value_2017',
       'raw_value_2018', 'raw_value_2019', 'raw_value_2020', 'raw_value_2021',
        'score_2007', 'score_2008', 'score_2009', 'score_2010', 'rank_2011','rank_2012','rank_2013', 'rank_2014', 
                                        'rank_2015', 'rank_2016', 'rank_2017','rank_2018', 
                                        'rank_2019', 'rank_2020', 'rank_2021'])

#pivot table to make new columns
df_pivot1 = pd.pivot_table (df, values=[ 'score_2011',
                                        'score_2012', 'score_2013', 'score_2014', 'score_2015', 
                                        'score_2016','score_2017', 'score_2018', 'score_2019', 
                                        'score_2020', 'score_2021'],
                            columns= ['area_name','indicator_name']).reset_index()

#view new columns
df_pivot1.columns

MultiIndex([(      'index',                                    ''),
            ('Afghanistan',                     '15-60 mortality'),
            ('Afghanistan',      '2G, 3G and 4G network coverage'),
            ('Afghanistan',                      '5-14 mortality'),
            ('Afghanistan', 'Ability to live on household income'),
            ('Afghanistan',   'Ability to source emergency funds'),
            ('Afghanistan',            'Access to a bank account'),
            ('Afghanistan',               'Access to a cellphone'),
            ('Afghanistan', 'Access to basic sanitation services'),
            ('Afghanistan',      'Access to basic water services'),
            ...
            (   'Zimbabwe',        'Venture capital availability'),
            (   'Zimbabwe', 'Voiced opinion to a public official'),
            (   'Zimbabwe',                        'Volunteering'),
            (   'Zimbabwe',                       'Voter turnout'),
            (   'Zimbabwe',          'Waged and salaried workers'),
            (   'Zimbabwe',                'Wastewater treatment'),
            (   'Zimbabwe',                    'Water production'),
            (   'Zimbabwe',                      'Women's agency'),
            (   'Zimbabwe',     'Women's average years in school'),
            (   'Zimbabwe',                  'Youth unemployment')],
           names=['area_name', 'indicator_name'], length=49914)

In [6]:
df_pivot1

area_name            index     Afghanistan                                 \
indicator_name             15-60 mortality 2G, 3G and 4G network coverage
0               score_2011        0.611728                       0.388667
1               score_2012        0.620482                       0.388667
2               score_2013        0.629193                       0.388667
3               score_2014        0.637876                       0.388667
4               score_2015        0.645469                       0.388667
5               score_2016        0.653068                       0.388667
6               score_2017        0.660685                       0.413333
7               score_2018        0.668323                       0.424000
8               score_2019        0.675975                       0.451833
9               score_2020        0.683501                       0.482767
10              score_2021        0.690155                       0.545667

area_name                                                          \
indicator_name 5-14 mortality Ability to live on household income
0                    0.773528                            0.284516
1                    0.781648                            0.324867
2                    0.795133                            0.221003
3                    0.812159                            0.285004
4                    0.831326                            0.166200
5                    0.851074                            0.344751
6                    0.868593                            0.463676
7                    0.882289                            0.059105
8                    0.891791                            0.000000
9                    0.898770                            0.048295
10                   0.904454                            0.048295

area_name                                                                  \
indicator_name Ability to source emergency funds Access to a bank account
0                                       0.588633                     0.09
1                                       0.588633                     0.09
2                                       0.588633                     0.09
3                                       0.588633                     0.09
4                                       0.588633                     0.09
5                                       0.588633                     0.10
6                                       0.588633                     0.10
7                                       0.588633                     0.10
8                                       0.588633                     0.15
9                                       0.588633                     0.15
10                                      0.534338                     0.15

area_name                                                                 \
indicator_name Access to a cellphone Access to basic sanitation services
0                           0.685567                            0.271327
1                           0.685567                            0.284342
2                           0.685567                            0.297484
3                           0.685567                            0.310754
4                           0.685567                            0.324158
5                           0.869072                            0.337696
6                           0.869072                            0.351370
7                           0.869072                            0.365183
8                           0.869072                            0.379138
9                           0.869072                            0.393238
10                          0.869072                            0.407514

area_name                                      ...  \
indicator_name Access to basic water services  ...
0                                    0.154917  ...
1                                    0.190215  ...
2                                    0.225987  ...
3                                    0.262234  ...
4                                    0.298962  ...
5                                    0.336167  ...
6                                    0.373852  ...
7                                    0.412018  ...
8                                    0.450670  ...
9                                    0.489807  ...
10                                   0.529495  ...

area_name                          Zimbabwe  \
indicator_name Venture capital availability
0                                  0.183754
1                                  0.208946
2                                  0.198584
3                                  0.196838
4                                  0.154880
5                                  0.136262
6                                  0.165931
7                                  0.202192
8                                  0.221060
9                                  0.264506
10                                 0.264506

area_name                                                                      \
indicator_name Voiced opinion to a public official Volunteering Voter turnout
0                                            0.400         0.42      0.282545
1                                            0.400         0.52      0.282545
2                                            0.225         0.46      0.282545
3                                            0.300         0.40      0.282545
4                                            0.300         0.42      0.282545
5                                            0.275         0.34      0.282545
6                                            0.425         0.42      0.282545
7                                            0.225         0.36      0.795152
8                                            0.350         0.48      0.795152
9                                            0.375         0.40      0.795152
10                                           0.525         0.54      0.795152

area_name                                                       \
indicator_name Waged and salaried workers Wastewater treatment
0                                0.290316                  0.0
1                                0.294947                  0.0
2                                0.304526                  0.0
3                                0.305368                  0.0
4                                0.302842                  0.0
5                                0.302316                  0.0
6                                0.298632                  0.0
7                                0.294737                  0.0
8                                0.292737                  0.0
9                                0.291053                  0.0
10                               0.276316                  0.0

area_name                                       \
indicator_name Water production Women's agency
0                      0.519033           0.25
1                      0.519033           0.25
2                      0.519033           0.25
3                      0.519033           0.25
4                      0.519033           0.25
5                      0.519033           0.25
6                      0.519033           0.25
7                      0.519033           0.25
8                      0.519033           0.25
9                      0.519033           0.25
10                     0.519033           0.25

area_name
indicator_name Women's average years in school Youth unemployment
0                                     0.539355           0.615564
1                                     0.550323           0.607421
2                                     0.560645           0.602007
3                                     0.571613           0.600434
4                                     0.582581           0.599494
5                                     0.593548           0.602007
6                                     0.603871           0.602956
7                                     0.614839           0.604224
8                                     0.625806           0.607099
9                                     0.625806           0.609678
10                                    0.625806           0.612934

[11 rows x 49914 columns]

In [7]:
#stack dataframe to remove multi-index and reset index to set new columns after stack
df_pivot2 = df_pivot1.stack(level = -2).reset_index()

#rename blank column header
df_pivot2.rename(columns={'': 'temp_name'}, inplace=True)
df_pivot2

indicator_name,level_0,area_name,temp_name,15-60 mortality,"2G, 3G and 4G network coverage",5-14 mortality,Ability to live on household income,Ability to source emergency funds,Access to a bank account,Access to a cellphone,...,Venture capital availability,Voiced opinion to a public official,Volunteering,Voter turnout,Waged and salaried workers,Wastewater treatment,Water production,Women's agency,Women's average years in school,Youth unemployment
0,0,Afghanistan,NaN,0.611728,0.388667,0.773528,0.284516,0.588633,0.09,0.685567,...,0.387206,0.350,0.40,0.213818,0.054211,0.000,0.032225,0.0625,0.016129,0.392048
1,0,Albania,NaN,0.924914,0.655000,0.935119,0.582084,0.561092,0.28,0.939175,...,0.286309,0.225,0.12,0.403273,0.390316,0.369,0.547267,0.4375,0.676129,0.275397
2,0,Algeria,NaN,0.880680,0.550000,0.901529,0.538859,0.723638,0.33,0.961856,...,0.348487,0.050,0.10,0.218303,0.653789,0.460,0.840401,0.2500,0.387097,0.343272
3,0,Angola,NaN,0.569790,0.578715,0.383702,0.524428,0.193465,0.39,0.502062,...,0.200723,0.300,0.66,0.846788,0.261789,0.000,0.444764,0.3125,0.245161,0.601377
4,0,Argentina,NaN,0.847712,0.655833,0.941013,0.559302,0.550384,0.33,0.842268,...,0.224471,0.125,0.32,NaN,0.746947,0.118,0.779266,0.7500,0.729032,0.348900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843,10,Vietnam,NaN,0.834978,0.965667,0.944008,0.770988,0.777357,0.31,0.922680,...,0.566875,0.300,0.44,0.947273,0.428421,0.100,0.433139,0.4375,0.590323,0.666175
1844,10,Yemen,NaN,0.717566,0.633333,0.720537,0.356662,0.373492,0.06,0.795876,...,0.290922,0.025,0.12,0.000000,0.420737,0.000,0.225147,0.0625,0.119355,0.309064
1845,10,Zambia,NaN,0.590810,0.671000,0.756161,0.207548,0.006527,0.46,0.728866,...,0.200866,0.275,0.56,0.467030,0.226842,0.150,0.343719,0.3125,0.467742,0.328761
1846,10,Zimbabwe,NaN,0.440794,0.723333,0.736647,0.047800,0.369846,0.55,0.872165,...,0.264506,0.525,0.54,0.795152,0.276316,0.000,0.519033,0.2500,0.625806,0.612934
1847,10,index,score_2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#drop rows where area_name contains the word "index"

#identify partial string to look for
discard = ["index"]

#drop rows that contain the partial string "index" in the area_name column
df_pivot3 = df_pivot2[~df_pivot2.area_name.str.contains('|'.join(discard))]

#reset index of series object and drop original index labels
df_drop_rows = df_pivot3.reset_index(drop = True)
df_drop_rows

indicator_name,level_0,area_name,temp_name,15-60 mortality,"2G, 3G and 4G network coverage",5-14 mortality,Ability to live on household income,Ability to source emergency funds,Access to a bank account,Access to a cellphone,...,Venture capital availability,Voiced opinion to a public official,Volunteering,Voter turnout,Waged and salaried workers,Wastewater treatment,Water production,Women's agency,Women's average years in school,Youth unemployment
0,0,Afghanistan,NaN,0.611728,0.388667,0.773528,0.284516,0.588633,0.09,0.685567,...,0.387206,0.350,0.40,0.213818,0.054211,0.000,0.032225,0.0625,0.016129,0.392048
1,0,Albania,NaN,0.924914,0.655000,0.935119,0.582084,0.561092,0.28,0.939175,...,0.286309,0.225,0.12,0.403273,0.390316,0.369,0.547267,0.4375,0.676129,0.275397
2,0,Algeria,NaN,0.880680,0.550000,0.901529,0.538859,0.723638,0.33,0.961856,...,0.348487,0.050,0.10,0.218303,0.653789,0.460,0.840401,0.2500,0.387097,0.343272
3,0,Angola,NaN,0.569790,0.578715,0.383702,0.524428,0.193465,0.39,0.502062,...,0.200723,0.300,0.66,0.846788,0.261789,0.000,0.444764,0.3125,0.245161,0.601377
4,0,Argentina,NaN,0.847712,0.655833,0.941013,0.559302,0.550384,0.33,0.842268,...,0.224471,0.125,0.32,NaN,0.746947,0.118,0.779266,0.7500,0.729032,0.348900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,10,Venezuela,NaN,0.802495,0.910000,0.923237,0.168287,0.401189,0.73,0.912371,...,0.266197,0.350,0.46,0.152606,0.540737,0.270,0.720754,0.6250,0.709677,0.429284
1833,10,Vietnam,NaN,0.834978,0.965667,0.944008,0.770988,0.777357,0.31,0.922680,...,0.566875,0.300,0.44,0.947273,0.428421,0.100,0.433139,0.4375,0.590323,0.666175
1834,10,Yemen,NaN,0.717566,0.633333,0.720537,0.356662,0.373492,0.06,0.795876,...,0.290922,0.025,0.12,0.000000,0.420737,0.000,0.225147,0.0625,0.119355,0.309064
1835,10,Zambia,NaN,0.590810,0.671000,0.756161,0.207548,0.006527,0.46,0.728866,...,0.200866,0.275,0.56,0.467030,0.226842,0.150,0.343719,0.3125,0.467742,0.328761
1836,10,Zimbabwe,NaN,0.440794,0.723333,0.736647,0.047800,0.369846,0.55,0.872165,...,0.264506,0.525,0.54,0.795152,0.276316,0.000,0.519033,0.2500,0.625806,0.612934

In [9]:
#create new column to add to dataframe
#create list with values
data_list = ['2011', '2012', '2013','2014', '2015', '2016', '2017', '2018', 
'2019', '2020', '2021']

#convert list into new series
data_series = pd.Series(data_list)

#repeat elements of the series
new_year=data_series.repeat(167)
#reset index of series object and drop original index labels
new_year2 = new_year.reset_index(drop = True)
new_year2

0       2011
1       2011
2       2011
3       2011
4       2011
        ...
1832    2021
1833    2021
1834    2021
1835    2021
1836    2021
Length: 1837, dtype: object

In [10]:
#put new column in DataFrame at a specified location. Add values as rows to create new column
#df_pivot3.append(new_year, ignore_index=True)
df_drop_rows.insert(3, "year", new_year2)

In [11]:
#show new df with new columns
df_drop_rows

indicator_name,level_0,area_name,temp_name,year,15-60 mortality,"2G, 3G and 4G network coverage",5-14 mortality,Ability to live on household income,Ability to source emergency funds,Access to a bank account,...,Venture capital availability,Voiced opinion to a public official,Volunteering,Voter turnout,Waged and salaried workers,Wastewater treatment,Water production,Women's agency,Women's average years in school,Youth unemployment
0,0,Afghanistan,NaN,2011,0.611728,0.388667,0.773528,0.284516,0.588633,0.09,...,0.387206,0.350,0.40,0.213818,0.054211,0.000,0.032225,0.0625,0.016129,0.392048
1,0,Albania,NaN,2011,0.924914,0.655000,0.935119,0.582084,0.561092,0.28,...,0.286309,0.225,0.12,0.403273,0.390316,0.369,0.547267,0.4375,0.676129,0.275397
2,0,Algeria,NaN,2011,0.880680,0.550000,0.901529,0.538859,0.723638,0.33,...,0.348487,0.050,0.10,0.218303,0.653789,0.460,0.840401,0.2500,0.387097,0.343272
3,0,Angola,NaN,2011,0.569790,0.578715,0.383702,0.524428,0.193465,0.39,...,0.200723,0.300,0.66,0.846788,0.261789,0.000,0.444764,0.3125,0.245161,0.601377
4,0,Argentina,NaN,2011,0.847712,0.655833,0.941013,0.559302,0.550384,0.33,...,0.224471,0.125,0.32,NaN,0.746947,0.118,0.779266,0.7500,0.729032,0.348900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,10,Venezuela,NaN,2021,0.802495,0.910000,0.923237,0.168287,0.401189,0.73,...,0.266197,0.350,0.46,0.152606,0.540737,0.270,0.720754,0.6250,0.709677,0.429284
1833,10,Vietnam,NaN,2021,0.834978,0.965667,0.944008,0.770988,0.777357,0.31,...,0.566875,0.300,0.44,0.947273,0.428421,0.100,0.433139,0.4375,0.590323,0.666175
1834,10,Yemen,NaN,2021,0.717566,0.633333,0.720537,0.356662,0.373492,0.06,...,0.290922,0.025,0.12,0.000000,0.420737,0.000,0.225147,0.0625,0.119355,0.309064
1835,10,Zambia,NaN,2021,0.590810,0.671000,0.756161,0.207548,0.006527,0.46,...,0.200866,0.275,0.56,0.467030,0.226842,0.150,0.343719,0.3125,0.467742,0.328761
1836,10,Zimbabwe,NaN,2021,0.440794,0.723333,0.736647,0.047800,0.369846,0.55,...,0.264506,0.525,0.54,0.795152,0.276316,0.000,0.519033,0.2500,0.625806,0.612934

In [12]:
#clear index name
df_drop_rows.columns.name = None
#drop unnecessary columns
df_drop_rows = df_drop_rows.drop(columns = ['level_0', 'temp_name'])
df_drop_rows

,area_name,year,15-60 mortality,"2G, 3G and 4G network coverage",5-14 mortality,Ability to live on household income,Ability to source emergency funds,Access to a bank account,Access to a cellphone,Access to basic sanitation services,...,Venture capital availability,Voiced opinion to a public official,Volunteering,Voter turnout,Waged and salaried workers,Wastewater treatment,Water production,Women's agency,Women's average years in school,Youth unemployment
0,Afghanistan,2011,0.611728,0.388667,0.773528,0.284516,0.588633,0.09,0.685567,0.271327,...,0.387206,0.350,0.40,0.213818,0.054211,0.000,0.032225,0.0625,0.016129,0.392048
1,Albania,2011,0.924914,0.655000,0.935119,0.582084,0.561092,0.28,0.939175,0.933021,...,0.286309,0.225,0.12,0.403273,0.390316,0.369,0.547267,0.4375,0.676129,0.275397
2,Algeria,2011,0.880680,0.550000,0.901529,0.538859,0.723638,0.33,0.961856,0.851810,...,0.348487,0.050,0.10,0.218303,0.653789,0.460,0.840401,0.2500,0.387097,0.343272
3,Angola,2011,0.569790,0.578715,0.383702,0.524428,0.193465,0.39,0.502062,0.343029,...,0.200723,0.300,0.66,0.846788,0.261789,0.000,0.444764,0.3125,0.245161,0.601377
4,Argentina,2011,0.847712,0.655833,0.941013,0.559302,0.550384,0.33,0.842268,0.905030,...,0.224471,0.125,0.32,NaN,0.746947,0.118,0.779266,0.7500,0.729032,0.348900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,Venezuela,2021,0.802495,0.910000,0.923237,0.168287,0.401189,0.73,0.912371,0.936492,...,0.266197,0.350,0.46,0.152606,0.540737,0.270,0.720754,0.6250,0.709677,0.429284
1833,Vietnam,2021,0.834978,0.965667,0.944008,0.770988,0.777357,0.31,0.922680,0.827383,...,0.566875,0.300,0.44,0.947273,0.428421,0.100,0.433139,0.4375,0.590323,0.666175
1834,Yemen,2021,0.717566,0.633333,0.720537,0.356662,0.373492,0.06,0.795876,0.571236,...,0.290922,0.025,0.12,0.000000,0.420737,0.000,0.225147,0.0625,0.119355,0.309064
1835,Zambia,2021,0.590810,0.671000,0.756161,0.207548,0.006527,0.46,0.728866,0.229006,...,0.200866,0.275,0.56,0.467030,0.226842,0.150,0.343719,0.3125,0.467742,0.328761
1836,Zimbabwe,2021,0.440794,0.723333,0.736647,0.047800,0.369846,0.55,0.872165,0.332161,...,0.264506,0.525,0.54,0.795152,0.276316,0.000,0.519033,0.2500,0.625806,0.612934

In [13]:
#rename columns that contain apostrophes or quote marks
df_drop_rows.rename(columns={"Women's agency": 'womens_agency', 
                          "Protection of women's workplace, education and family rights": 'protection_womens_rights'}, 
                 inplace=True)

In [14]:
#rename remaining columns to keep
df_drop_rows.rename(columns={'Commercial bank branches': 'bank_branches', 'Use of digital payments': 'digital_payments', 
                          'Satisfaction with public transportation': 'satisfaction_with_public_transportation', 
                          'International internet bandwidth':'international_internet_bandwidth', '2G, 3G and 4G network coverage': 'network_coverage', 
                          'Reliability of electricity supply': 'reliable_electricity', 'Reliability of water supply':'reliability_water_supply', 
                          'Generalised interpersonal trust': 'generalised_interpersonal_trust', 'Helped a stranger':'helped_stranger', 'Confidence in local police': 'confidence_in_police', 
                          'Satisfaction with freedom': 'satisfaction_with_freedom','Freedom of opinion and expression': 'freedom_opinion_expression', 
                          'Government media censorship' : 'government_media_censorship', 'Equal treatment and absence of discrimination': 'equal_treatment', 
                          'Non-discriminatory civil justice':'nondiscriminatory_civil_justice', 'LGBT rights' : 'lgbt_rights', 'Freedom of belief and religion': 'freedom_of_belief_religion', 
                          'Government religious intimidation and hostility': 'government_intimidation', 'Two-sided conflict deaths': 'twosided_conflict_deaths', 
                          'Civil and ethnic war': 'civil_ethnic_war', 'Terrorism incidents': 'terrorism_incidents', 'Intentional homicides': 'intentional_homicides', 
                          'Safety walking alone at night': 'safety_walking_alone_night', 'Physical security of women': 'physical_security_women','Property stolen':'property_stolen', 'Respect':'respect'}, 
                 inplace=True)

In [15]:
#drop all columns excep for the columns named below
df_drop_rows.drop(df_drop_rows.columns.difference(['area_name','year','bank_branches', 'digital_payments','satisfaction_with_public_transportation', 
                          'international_internet_bandwidth', 'network_coverage','reliable_electricity', 'reliability_water_supply', 
                          'generalised_interpersonal_trust', 'helped_stranger',  'confidence_in_police', 'satisfaction_with_freedom', 'freedom_opinion_expression', 
                          'government_media_censorship', 'equal_treatment','nondiscriminatory_civil_justice', 'lgbt_rights',  'freedom_of_belief_religion', 
                          'government_intimidation', 'twosided_conflict_deaths', 'civil_ethnic_war', 'terrorism_incidents', 'intentional_homicides', 
                          'safety_walking_alone_night', 'physical_security_women','property_stolen', 'womens_agency', 'protection_womens_rights', 'respect']),
                    1, inplace=True)

In [16]:
#rename area_name column
df_drop_rows.rename(columns={'area_name':'country'}, inplace=True)

In [17]:
#show updated dataframe
new_lpi = df_drop_rows
new_lpi

,country,year,network_coverage,civil_ethnic_war,bank_branches,confidence_in_police,equal_treatment,freedom_of_belief_religion,freedom_opinion_expression,generalised_interpersonal_trust,...,reliable_electricity,reliability_water_supply,respect,safety_walking_alone_night,satisfaction_with_freedom,satisfaction_with_public_transportation,terrorism_incidents,twosided_conflict_deaths,digital_payments,womens_agency
0,Afghanistan,2011,0.388667,0.428571,0.233689,0.4625,0.009863,0.421681,0.596568,0.250102,...,0.000000,0.278664,0.42,0.2125,0.493030,0.485845,0.077704,0.018830,0.055705,0.0625
1,Albania,2011,0.655000,1.000000,0.641638,0.5000,0.493373,0.741124,0.579357,0.140811,...,0.142857,0.520858,0.56,0.4250,0.417816,0.629872,0.977972,1.000000,0.200112,0.4375
2,Algeria,2011,0.550000,1.000000,0.362686,0.7250,0.536417,0.301303,0.404482,0.105388,...,0.571429,0.583277,0.78,0.3250,0.488568,0.701417,0.505157,0.557502,0.253870,0.2500
3,Angola,2011,0.578715,1.000000,0.364295,0.2875,0.301212,0.555730,0.408641,0.336403,...,0.000000,0.144928,0.54,0.3125,0.468144,0.384050,0.991441,0.915931,0.247428,0.3125
4,Argentina,2011,0.655833,1.000000,0.525851,0.3500,0.532328,0.815160,0.637939,0.322960,...,0.571429,0.643613,0.90,0.2625,0.645447,0.694716,0.990323,1.000000,0.339111,0.7500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1832,Venezuela,2021,0.910000,0.571429,0.570810,0.0750,0.351663,0.602656,0.240701,0.104000,...,0.000000,0.151053,0.86,0.1375,0.502370,0.045577,0.895278,1.000000,0.687668,0.6250
1833,Vietnam,2021,0.965667,1.000000,0.319980,0.7875,0.496045,0.297008,0.399812,0.368889,...,0.857143,0.592170,0.84,0.6000,0.896598,0.812295,0.997376,1.000000,0.227357,0.4375
1834,Yemen,2021,0.633333,0.428571,0.191971,0.3250,0.145424,0.441733,0.393011,0.523185,...,0.000000,0.137327,0.70,0.4000,0.507748,0.363285,0.000000,0.133742,0.027643,0.0625
1835,Zambia,2021,0.671000,1.000000,0.290254,0.4750,0.329962,0.634732,0.393342,0.144755,...,0.428571,0.388075,0.62,0.3250,0.686657,0.498402,0.990255,1.000000,0.387377,0.3125
1836,Zimbabwe,2021,0.723333,1.000000,0.310556,0.5375,0.246879,0.492518,0.265788,0.028556,...,0.142857,0.214847,0.48,0.3250,0.549773,0.299782,0.961941,1.000000,0.525039,0.2500

In [18]:
#view updated columns
new_lpi.columns

Index(['country', 'year', 'network_coverage', 'civil_ethnic_war',
       'bank_branches', 'confidence_in_police', 'equal_treatment',
       'freedom_of_belief_religion', 'freedom_opinion_expression',
       'generalised_interpersonal_trust', 'government_media_censorship',
       'government_intimidation', 'helped_stranger', 'intentional_homicides',
       'international_internet_bandwidth', 'lgbt_rights',
       'nondiscriminatory_civil_justice', 'physical_security_women',
       'property_stolen', 'protection_womens_rights', 'reliable_electricity',
       'reliability_water_supply', 'respect', 'safety_walking_alone_night',
       'satisfaction_with_freedom', 'satisfaction_with_public_transportation',
       'terrorism_incidents', 'twosided_conflict_deaths', 'digital_payments',
       'womens_agency'],
      dtype='object')

In [19]:
#summary stats for smaller df
new_lpi.describe()

,network_coverage,civil_ethnic_war,bank_branches,confidence_in_police,equal_treatment,freedom_of_belief_religion,freedom_opinion_expression,generalised_interpersonal_trust,government_media_censorship,government_intimidation,...,reliable_electricity,reliability_water_supply,respect,safety_walking_alone_night,satisfaction_with_freedom,satisfaction_with_public_transportation,terrorism_incidents,twosided_conflict_deaths,digital_payments,womens_agency
count,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,...,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000,1837.000000
mean,0.725964,0.925971,0.497130,0.557894,0.460787,0.634958,0.557693,0.325832,0.587215,0.711765,...,0.512991,0.589372,0.706022,0.514216,0.661037,0.605171,0.864687,0.888485,0.425198,0.503232
std,0.220399,0.201317,0.180540,0.189471,0.198767,0.165032,0.188886,0.187625,0.295300,0.252369,...,0.364138,0.234281,0.179115,0.193559,0.183268,0.206733,0.229792,0.231612,0.297020,0.284457
min,0.233333,0.000000,0.069890,0.000000,0.004075,0.049751,0.058794,0.028556,0.009250,0.000000,...,0.000000,0.089117,0.000000,0.000000,0.055819,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.545667,1.000000,0.351389,0.425000,0.319418,0.552346,0.398700,0.190523,0.359250,0.511905,...,0.142857,0.420836,0.620000,0.363334,0.542080,0.485652,0.859073,0.912698,0.173137,0.250000
50%,0.755067,1.000000,0.507353,0.562500,0.459739,0.664583,0.562654,0.285834,0.650250,0.761905,...,0.571429,0.583091,0.740000,0.500000,0.689613,0.638857,0.966365,1.000000,0.352081,0.500000
75%,0.936362,1.000000,0.636716,0.700000,0.596979,0.747919,0.706599,0.398380,0.827000,0.940476,...,0.857143,0.803961,0.840000,0.662500,0.808533,0.744009,0.996803,1.000000,0.656416,0.750000
max,1.000000,1.000000,0.918459,0.987500,0.971000,0.915402,0.973083,1.000000,0.985000,1.000000,...,1.000000,1.000000,0.960000,0.962500,0.972182,1.000000,1.000000,1.000000,0.993941,1.000000

In [20]:
#inspect data types
new_lpi.dtypes

country                                     object
year                                        object
network_coverage                           float64
civil_ethnic_war                           float64
bank_branches                              float64
confidence_in_police                       float64
equal_treatment                            float64
freedom_of_belief_religion                 float64
freedom_opinion_expression                 float64
generalised_interpersonal_trust            float64
government_media_censorship                float64
government_intimidation                    float64
helped_stranger                            float64
intentional_homicides                      float64
international_internet_bandwidth           float64
lgbt_rights                                float64
nondiscriminatory_civil_justice            float64
physical_security_women                    float64
property_stolen                            float64
protection_womens_rights                   float64
reliable_electricity                       float64
reliability_water_supply                   float64
respect                                    float64
safety_walking_alone_night                 float64
satisfaction_with_freedom                  float64
satisfaction_with_public_transportation    float64
terrorism_incidents                        float64
twosided_conflict_deaths                   float64
digital_payments                           float64
womens_agency                              float64
dtype: object

In [21]:
#check if any values are NaN in smaller df
new_lpi.isnull().values.any()

False

In [22]:
#change year column to datetime format
new_lpi['year'] = pd.to_datetime(new_lpi['year'])#convert object type to datetime type
new_lpi['year'] = new_lpi['year'].dt.year #convert to year only

In [23]:
#drop duplicate rows and check shape to confirm difference
new_lpi = new_lpi.drop_duplicates()
new_lpi.shape

(1837, 30)

In [24]:
#save df to csv file in data folder
new_lpi.to_csv('new_lpi.csv', index = False)