In [20]:
#import pandas
import pandas as pd

In [21]:
#read in csv file
csv_data = pd.read_csv('Cleaned_Team16_Dataset.csv')

# convert csv into dataframe
df = pd.DataFrame(csv_data)

In [22]:
#view columns of initial df
df.columns

Index(['unique_id', 'spi_rank', 'country', 'spi_country_code', 'spi_year',
       'status', 'social_progress_index', 'deaths_from_interpersonal_violence',
       'perceived_criminality', 'media_censorship', 'access_to_justice',
       'freedom_of_expression', 'freedom_of_religion',
       'discrimination_and_violence_against_minorities',
       'acceptance_of_gays_and_lesbians'],
      dtype='object')

In [23]:
df.head(11)

,unique_id,spi_rank,country,spi_country_code,spi_year,status,social_progress_index,deaths_from_interpersonal_violence,perceived_criminality,media_censorship,access_to_justice,freedom_of_expression,freedom_of_religion,discrimination_and_violence_against_minorities,acceptance_of_gays_and_lesbians
0,WWW2021,NaN,World,WWW,2021,NaN,65.05,5.3790,3.6326,1.7374,0.5763,0.5112,2.3558,7.1508,0.3956
1,WWW2020,NaN,World,WWW,2020,NaN,64.68,5.5288,3.6324,1.7704,0.5868,0.5164,2.3710,7.3236,0.3326
2,WWW2019,NaN,World,WWW,2019,NaN,64.66,5.5565,3.6198,1.8033,0.5874,0.5263,2.4340,7.2695,0.3139
3,WWW2018,NaN,World,WWW,2018,NaN,64.02,5.5530,3.6013,1.8157,0.5977,0.5287,2.4443,7.4091,0.2762
4,WWW2017,NaN,World,WWW,2017,NaN,63.66,5.6709,3.5394,1.9124,0.5977,0.5505,2.5533,7.5067,0.2623
5,WWW2016,NaN,World,WWW,2016,NaN,63.13,5.6989,3.5264,1.9744,0.5993,0.5670,2.5947,7.5389,0.2545
6,WWW2015,NaN,World,WWW,2015,NaN,62.79,5.8083,3.5106,2.2100,0.6024,0.6055,2.6672,7.5289,0.2611
7,WWW2014,NaN,World,WWW,2014,NaN,61.92,5.9093,3.4952,2.2835,0.6055,0.6247,2.7182,7.4201,0.2514
8,WWW2013,NaN,World,WWW,2013,NaN,61.56,5.9300,3.4553,2.3474,0.6153,0.6477,2.7241,7.3348,0.2223
9,WWW2012,NaN,World,WWW,2012,NaN,61.07,6.0497,3.4155,2.3465,0.6157,0.6494,2.7290,7.1584,0.2251
10,WWW2011,NaN,World,WWW,2011,NaN,60.42,6.2058,3.4139,2.3245,0.6138,0.6451,2.7390,7.1676,0.2278

In [29]:
df.shape

(2255, 15)

In [27]:
#drop rows where country contains the word "World"

#identify partial string to look for
discard = ["World"]

#drop rows that contain the string "index" in the country column #without the tilde, it drops everything except              
df_spi1 = df[~df.country.str.contains('|'.join(discard))]

#reset index of series object and drop original index labels
df_spi2 = df_spi1.reset_index(drop = True)
df_spi2

,unique_id,spi_rank,country,spi_country_code,spi_year,status,social_progress_index,deaths_from_interpersonal_violence,perceived_criminality,media_censorship,access_to_justice,freedom_of_expression,freedom_of_religion,discrimination_and_violence_against_minorities,acceptance_of_gays_and_lesbians
0,ALB2021,56.0,Albania,ALB,2021,Ranked,74.51,1.9836,4.0,1.348,0.906,0.687,3.708,4.1,0.15
1,ALB2020,59.0,Albania,ALB,2020,Ranked,73.80,2.0420,4.0,1.811,0.906,0.707,3.708,4.4,0.08
2,ALB2019,54.0,Albania,ALB,2019,Ranked,74.18,2.0796,4.0,1.811,0.852,0.723,3.864,4.3,0.10
3,ALB2018,52.0,Albania,ALB,2018,Ranked,73.93,2.1282,4.0,2.367,0.852,0.818,3.739,4.2,0.13
4,ALB2017,51.0,Albania,ALB,2017,Ranked,73.90,2.1680,4.0,2.367,0.904,0.784,3.899,4.5,0.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2239,VIR2015,NaN,Virgin Islands (US),VIR,2015,Extra,NaN,25.4600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2240,VIR2014,NaN,Virgin Islands (US),VIR,2014,Extra,NaN,25.6830,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2241,VIR2013,NaN,Virgin Islands (US),VIR,2013,Extra,NaN,25.9033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2242,VIR2012,NaN,Virgin Islands (US),VIR,2012,Extra,NaN,26.5356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2243,VIR2011,NaN,Virgin Islands (US),VIR,2011,Extra,NaN,26.6021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#drop spi_country_code, spi_rank, status, and unique_id columns
df_spi3 = df_spi2.drop(columns=['unique_id', 'status', 'spi_rank', 'spi_country_code'])
#rename spi_year column
df_spi3.rename(columns={'spi_year':'year'}, inplace=True)
df_spi3

,country,year,social_progress_index,deaths_from_interpersonal_violence,perceived_criminality,media_censorship,access_to_justice,freedom_of_expression,freedom_of_religion,discrimination_and_violence_against_minorities,acceptance_of_gays_and_lesbians
0,Albania,2021,74.51,1.9836,4.0,1.348,0.906,0.687,3.708,4.1,0.15
1,Albania,2020,73.80,2.0420,4.0,1.811,0.906,0.707,3.708,4.4,0.08
2,Albania,2019,74.18,2.0796,4.0,1.811,0.852,0.723,3.864,4.3,0.10
3,Albania,2018,73.93,2.1282,4.0,2.367,0.852,0.818,3.739,4.2,0.13
4,Albania,2017,73.90,2.1680,4.0,2.367,0.904,0.784,3.899,4.5,0.11
...,...,...,...,...,...,...,...,...,...,...,...
2239,Virgin Islands (US),2015,NaN,25.4600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2240,Virgin Islands (US),2014,NaN,25.6830,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2241,Virgin Islands (US),2013,NaN,25.9033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2242,Virgin Islands (US),2012,NaN,26.5356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2243,Virgin Islands (US),2011,NaN,26.6021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df_spi3.dtypes

country                                            object
year                                                int64
social_progress_index                             float64
deaths_from_interpersonal_violence                float64
perceived_criminality                             float64
media_censorship                                  float64
access_to_justice                                 float64
freedom_of_expression                             float64
freedom_of_religion                               float64
discrimination_and_violence_against_minorities    float64
acceptance_of_gays_and_lesbians                   float64
dtype: object

In [39]:
#change year column to datetime format
#df_spi3['year'] = pd.to_datetime(df_spi3['year'])#convert object type to datetime type
#df_spi3['year'] = df_spi3['year'].dt.year #convert to year only

In [40]:
df_spi3

,country,year,social_progress_index,deaths_from_interpersonal_violence,perceived_criminality,media_censorship,access_to_justice,freedom_of_expression,freedom_of_religion,discrimination_and_violence_against_minorities,acceptance_of_gays_and_lesbians
0,Albania,1970,74.51,1.9836,4.0,1.348,0.906,0.687,3.708,4.1,0.15
1,Albania,1970,73.80,2.0420,4.0,1.811,0.906,0.707,3.708,4.4,0.08
2,Albania,1970,74.18,2.0796,4.0,1.811,0.852,0.723,3.864,4.3,0.10
3,Albania,1970,73.93,2.1282,4.0,2.367,0.852,0.818,3.739,4.2,0.13
4,Albania,1970,73.90,2.1680,4.0,2.367,0.904,0.784,3.899,4.5,0.11
...,...,...,...,...,...,...,...,...,...,...,...
2239,Virgin Islands (US),1970,NaN,25.4600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2240,Virgin Islands (US),1970,NaN,25.6830,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2241,Virgin Islands (US),1970,NaN,25.9033,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2242,Virgin Islands (US),1970,NaN,26.5356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2243,Virgin Islands (US),1970,NaN,26.6021,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
new_spi = df_spi3

In [38]:
#save df to csv file in data folder
new_spi.to_csv('new_spi.csv', index = False)